<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('ABC分析')"/>
    <style>
        * {
            margin: 0;
            margin: 0;
            font-size: 18px;
        }

    </style>
</head>
<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3></h3>
            </div>
            <div class="ibox-content">
                <div style="font-size:26px;text-align: center">ABC分类</div>
                <div style="height: 17px;"></div>
                <div style="line-height: 33px;">
                    ABC分类法又称帕累托分类法，即所谓“关键的少数和一般的多数”的哲理，也就是我们平时所提到的80-20法则。ABC分类法的核心思想是在决定一个事物的众多因素中分清主次，识别出少数的但对事物起决定作用的关键因素和种类繁多的但对事物影响极小的次要因素。ABC分类法基本原理，是运用数理统计的方法，对种类繁多的各种事物属性或所占权重不同要求，进行统计、排列和分类，划分为A、B、C部分，分别给予重点、一般、次要等不同程度的相应管理。
                </div>
                <!--                <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABC分类法的作用</div>-->
                <!--                <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、优化库存结构。</div>-->
                <!--                <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、压缩库存总量，减少库存资金，加快物资流通和资金周转速度。</div>-->
                <!--                <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、减少管理工作量。</div>-->

            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content fadeInRight">
    <div class="row">

        <div class="col-sm-12 select-table table-striped">
            <div class="btn-group-sm" role="group">
            </div>
            <div class="btn-group-sm" role="group">
                <a class="btn btn-info" onclick="importData('system/abc/importData', firstGroupPostImport)">
                    <i class="fa fa-upload"></i> 导入
                </a>
            </div>
            <table id="bootstrap-table" data-show-export="true"></table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>以平均库存占用资金为主要分类依据的物料ABC分类——数据用表制作步骤</h3>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选择正确的制表顺序：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-2">
                                    <label class="control-label">第一步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第二步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第三步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第四步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第五步</label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label">第六步</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选择正确步骤</label>

                            <div class="col-sm-10">
                                <div id="element" class="row">
                                    <div class="col-sm-2">
                                        <select class="type form-control m-b" id="s1" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算每种物料的平均资金占用额</option>
                                            <option value="2">计算每种物料的平均出库量</option>
                                            <option value="3">计算每种物料的销售单价占用额</option>
                                            <option value="4">计算每种物料的平均库存量</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s2" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">将每种物料按照平均库存量进行降序排序</option>
                                            <option value="2">将每种物料按照平均库存资金占用额进行降序排序</option>
                                            <option value="3">将每种物料按照销售单价进行升序排序</option>
                                            <option value="4">将每种物料按照平均库存资金占用额进行升序排序</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s3" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">按照排序计算对应物料平均库存资金的累乘计额</option>
                                            <option value="2">按照排序计算对应物料平均库存量的累加计额</option>
                                            <option value="3">按照排序计算对应物料出库频次的累加计额</option>
                                            <option value="4">按照排序计算对应物料平均库存资金的累加计额</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s4" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后对应物料平均库存资金在所有物料平均库存资金总占用额中的占比</option>
                                            <option value="2">计算排序后对应物料平均库存量在所有物料平均库存量中的累乘计额占比</option>
                                            <option value="3">计算排序后对应物料平均出库量在所有物料出库量中的占比</option>
                                            <option value="4">计算排序后对应物料平均库存资金累加计额在所有物料平均库存资金占用总和中的占比</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s5" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后每种物料的累乘品目数</option>
                                            <option value="2">计算排序后每种物料的累加品目数</option>
                                            <option value="3">计算每种物料的出库频次</option>
                                            <option value="4">计算每种物料的出库量</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s6" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后对应物料的累加计品目数在总品目数中的百分比</option>
                                            <option value="2">计算排序后对应物料平均库存量在所有物料平均库存量中的累乘计额占比</option>
                                            <option value="3">计算排序后对应物料平均出库量在所有物料出库量总和中的占比</option>
                                            <option value="4">计算排序后对应物料的累乘计品目数在总品目数乘积中的百分比</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="checkGroup1TableSelection(true)" type="button">提交
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内平均库存资金占用维度下物料ABC分类数据分析用表</h5>
                </div>
                <div class="ibox-content">
                    <table id="bootstrap-table5"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>周期内平均库存资金占用维度下物料ABC分类分析数据图表制作</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:400px">
                    <div class="panel panel-bordered">

                        <div>
                            <p>X轴</p>
                            <select name="x" id="x" type="text" class="form-control">
                                <option value='请选择'>请选择</option>
                                <option value='物料编码'>物料编码</option>
                                <option value='销售单价（元/件）'>销售单价（元/件）</option>
                                <option value='平均库存（件/月）'>平均库存（件/月）</option>
                                <option value='平均资金占用额（元）'>平均资金占用额（元）</option>
                                <option value='平均资金占用额累计（元）'>平均资金占用额累计（元）</option>
                                <option value='平均资金占用额累计百分比'>平均资金占用额累计百分比</option>
                                <option value='物料累计品目数百分比'>物料累计品目数百分比</option>

                            </select>
                        </div>
                        <div>
                            <p>Y轴</p>
                            <select name="y" id="y" type="text" class="form-control">
                                <option value='请选择'>请选择</option>
                                <option value='物料编码'>物料编码</option>
                                <option value='销售单价（元/件）'>销售单价（元/件）</option>
                                <option value='平均库存（件/月）'>平均库存（件/月）</option>
                                <option value='平均资金占用额（元）'>平均资金占用额（元）</option>
                                <option value='平均资金占用额累计（元）'>平均资金占用额累计（元）</option>
                                <option value='平均资金占用额累计百分比'>平均资金占用额累计百分比</option>
                                <option value='物料累计品目数百分比'>物料累计品目数百分比</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px" style="margin-top: 20px">
                                <button class="btn btn-primary" onclick="checkGroupOneChartSelection(true)" type="button">
                                    提交
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内平均库存资金占用维度下物料ABC分类分析数据图表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:400px">
                    <div class="echarts" id="abc1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内物料出库频次分析基础数据表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="height:700px">
                    <a class="btn btn-info" onclick="importData('system/abc/importData1', secondGroupPostImport)">
                        <i class="fa fa-upload"></i> 导入
                    </a>
                    <table class="col-sm-12 select-table table-striped"
                           id="bootstrap-table3">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库频次维度下物料ABC分类分析数据分析用表制作</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选择正确的制表顺序：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-2">
                                    <label class="control-label">第一步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第二步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第三步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第四步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第五步</label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label">第六步</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选择正确步骤</label>

                            <div class="col-sm-10">
                                <div id="element1" class="row">
                                    <div class="col-sm-2">
                                        <select class="type form-control m-b" id="s11" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算每种物料的销售单价占用额</option>
                                            <option value="2">计算每种物料的平均库存量</option>
                                            <option value="3">计算每种物料的平均出库量</option>
                                            <option value="4">统计每种物料在周期内的出库频次</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s12" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">将每种物料按照平均库存量进行降序排序</option>
                                            <option value="2">将每种物料按照平均库存资金占用额进行升序排序</option>
                                            <option value="3">将每种物料按照周期内出库频次进行降序排序</option>
                                            <option value="4">将每种物料按照销售单价进行升序排序</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s13" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">按照排序计算对应物料出库频次的累乘计额</option>
                                            <option value="2">按照排序计算对应物料平均库存量的累加计额</option>
                                            <option value="3">按照排序计算对应物料出库频次的累加计额</option>
                                            <option value="4">按照排序计算对应物料平均库存资金的累加计额</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s14" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后对应物料平均库存资金累加计额在所有物料平均库存资金占用总和中的占比</option>
                                            <option value="2">计算排序后对应物料出库频次累加计额在所有物料出库频次总和中的占比</option>
                                            <option value="3">计算排序后对应物料平均库存量在所有物料平均库存量中的累乘计额占比</option>
                                            <option value="4">计算排序后对应物料出库量累加计额在所有物料出库量总和中的占比</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s15" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算每种物料的出库频次</option>
                                            <option value="2">计算排序后每种物料的累乘品目数</option>
                                            <option value="3">计算每种物料的出库量</option>
                                            <option value="4">计算排序后每种物料的累加品目数</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s16" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后对应物料平均出库量在所有物料出库量总和中的占比</option>
                                            <option value="2">计算排序后对应物料的累乘计品目数在总品目数乘积中的百分比</option>
                                            <option value="3">计算排序后对应物料的累加计品目数在总品目数中的百分比</option>
                                            <option value="4">计算排序后对应物料平均库存量在所有物料平均库存量中的累乘计额占比</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="checkGroup2TableSelection(true)" type="button">提交
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库频次维度下物料ABC分类分析数据分析用表</h5>
                </div>
                <div class="ibox-content">
                    <table id="bootstrap-table7"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库频次维度下物料ABC分类分析数据图表制作</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="panel panel-bordered">
                        <div>
                            <p>X轴</p>
                            <select name="x1" id="x1" type="text" class="form-control">
                                <option value='请选择'>请选择</option>
                                <option value='物料编号'>物料编号</option>
                                <option value='出库频次'>出库频次</option>
                                <option value='累计出库频次'>累计出库频次</option>
                                <option value='累计出库频次百分比'>累计出库频次百分比</option>
                                <option value='物料累计品目数'>物料累计品目数</option>
                                <option value='物料累计品目数百分比'>物料累计品目数百分比</option>
                            </select>
                        </div>
                        <div>
                            <p>Y轴</p>
                            <select name="y1" id="y1" type="text" class="form-control">
                                <option value='请选择'>请选择</option>
                                <option value='物料编号'>物料编号</option>
                                <option value='出库频次'>出库频次</option>
                                <option value='累计出库频次'>累计出库频次</option>
                                <option value='累计出库频次百分比'>累计出库频次百分比</option>
                                <option value='物料累计品目数'>物料累计品目数</option>
                                <option value='物料累计品目数百分比'>物料累计品目数百分比</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px" style="margin-top: 20px">
                                <button class="btn btn-primary" onclick="checkGroupTwoChartSelection(true)" type="button">
                                    提交
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库频次维度下物料ABC分类分析数据图表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="echarts" id="abc2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内物料出库数量分析基础数据表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:700px">
                    <div class="btn-group-sm" role="group">
                        <a class="btn btn-info" onclick="importData('system/abc/importData2', thirdGroupPostImport)">
                            <i class="fa fa-upload"></i> 导入
                        </a>
                    </div>
                    <table class="col-sm-12 select-table table-striped"
                           id="bootstrap-table4">

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库数量维度下物料ABC分类分析数据分析用表制作</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选择正确的制表顺序：</label>
                            <div class="col-sm-10">
                                <div class="col-sm-2">
                                    <label class="control-label">第一步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第二步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第三步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第四步</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">第五步</label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label">第六步</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选择正确步骤</label>

                            <div class="col-sm-10">
                                <div id="element2" class="row">
                                    <div class="col-sm-2">
                                        <select class="type form-control m-b" id="s21" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算每种物料的销售单价占用额</option>
                                            <option value="2">计算每种物料的平均库存量</option>
                                            <option value="3">统计每种物料在周期内的出库量</option>
                                            <option value="4">计算每种物料的销售单价</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s22" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">将每种物料按照销售单价进行升序排序</option>
                                            <option value="2">将每种物料按照周期内出库量进行降序排序</option>
                                            <option value="3">将每种物料按照平均库存量进行降序排序</option>
                                            <option value="4">将每种物料按照平均库存资金占用额进行升序排序</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s23" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">按照排序计算对应物料出库量的累加计额</option>
                                            <option value="2">按照排序计算对应物料平均库存资金的累乘计额</option>
                                            <option value="3">按照排序计算对应物料平均库存量的累加计额</option>
                                            <option value="4">按照排序计算对应物料销售单价的累乘计额</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s24" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后对应物料出库频次累加计额在所有物料出库频次总和中的占比</option>
                                            <option value="2">计算排序后对应物料出库量累加计额在所有物料出库量总和中的占比</option>
                                            <option value="3">计算排序后对应物料平均库存量在所有物料平均库存量中的累乘计额占比</option>
                                            <option value="4">计算排序后对应物料平均库存资金在所有物料平均库存资金总占用额中的占比</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s25" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后每种物料的累乘品目数</option>
                                            <option value="2">计算每种物料的出库量</option>
                                            <option value="3">计算排序后每种物料的累加品目数</option>
                                            <option value="4">计算每种物料的出库频次</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s26" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">计算排序后对应物料平均出库量在所有物料出库量总和中的占比</option>
                                            <option value="2">计算排序后对应物料平均库存量在所有物料平均库存量中的累乘计额占比</option>
                                            <option value="3">计算排序后对应物料的累加计品目数在总品目数中的百分比</option>
                                            <option value="4">计算排序后对应物料的累乘计品目数在总品目数乘积中的百分比</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="checkGroup3TableSelection(true)" type="button">提交
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库数量维度下物料ABC分类分析数据分析用表</h5>
                </div>
                <div class="ibox-content">
                    <table id="bootstrap-table8"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库数量维度下物料ABC分类分析数据图表制作</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="panel panel-bordered">
                        <div>
                            <p>X轴</p>
                            <select name="x2" id="x2" type="text" class="form-control">
                                <option value='请选择'>请选择</option>
                                <option value='物料编码'>物料编码</option>
                                <option value='物料描述'>物料描述</option>
                                <option value='出库量'>出库量</option>
                                <option value='累计出库量'>累计出库量</option>
                                <option value='累计出库量百分比'>累计出库量百分比</option>
                                <option value='物料累计品目数'>物料累计品目数</option>
                                <option value='物料累计品目数百分比'>物料累计品目数百分比</option>
                            </select>
                        </div>
                        <div>
                            <p>Y轴</p>
                            <select name="y2" id="y2" type="text" class="form-control">
                                <option value='请选择'>请选择</option>
                                <option value='物料编码'>物料编码</option>
                                <option value='物料描述'>物料描述</option>
                                <option value='出库量'>出库量</option>
                                <option value='累计出库量'>累计出库量</option>
                                <option value='累计出库量百分比'>累计出库量百分比</option>
                                <option value='物料累计品目数'>物料累计品目数</option>
                                <option value='物料累计品目数百分比'>物料累计品目数百分比</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px" style="margin-top: 20px">
                                <button class="btn btn-primary" onclick="checkGroupThreeChartSelection(true)" type="button">
                                    提交
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>周期内出库数量维度下物料ABC分类分析数据图表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="echarts" id="abc3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>实验结果提交</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="col-sm-12 col-sm-offset-6" th:height="40px" style="margin-top: 20px">
                        <p><span id="trainingId" style="display: none" th:text="${trainingId}"></span></p>
                        <p><span id="token" style="display: none" th:text="${token}"></span></p>
                        <button class="btn btn-primary" onclick="end()" type="button">提交</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: jquery-cxselect-js"/>
<th:block th:include="include :: echarts-js"/>
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var data, data1, data2, data3, data4, data5;
    var baidieScore = new BaidieScore();

    function end() {
        const score = baidieScore.getScore();
        window.location.href = ctx + "end?score=" + score + "&trainingId=" + $('#trainingId').text() + "&token=" + $('#token').text();
    }

    $.getJSON("../../../file/abc.json", function (data) {
        data1 = data.data1;
        data2 = data.data2;
        data3 = data.data3;
        data4 = data.data4;
        data5 = data.data5;
        // 初始化所有的表
        initAllTables();
        // 首先显示每一组的主表。
        refreshGroupOneOriginalTable(data1);
        refreshGroupTwoOriginalTable(data5);
        refreshGroupThreeOriginalTable(data5);

        $.post(ctx + "system/op/list1?&trainingId=" + $('#trainingId').text() + "&token=" + $('#token').text(), function (result) {
            var d = result.rows;
            for (var i = 0; i < result.total; i++) {
                $("#" + d[i].opId).val(d[i].opValue);
            }
            initializeSelectionFromDb();
        });
    });

    function initAllTables() {
        initGroupOneTables();
        initGroupTwoTables();
        initGroupThreeTables();
    }

    function initGroupOneTables() {
        const inventoryTableColumns = [
            {
                field: '物料编码',
                title: '物料编码'
            },
            {
                field: '平均库存',
                title: '平均库存（件/月）'
            },
            {
                field: '当月出库总量',
                title: '当月出库总量（件）'
            },
            {
                field: '库存周转次数',
                title: '库存周转次数'
            },
            {
                field: '库存周转天数',
                title: '库存周转天数'
            },
            {
                field: '销售单价',
                title: '销售单价（元/件）'
            }
        ];
        initBaidieTable("bootstrap-table", inventoryTableColumns);
    }

    function initGroupTwoTables() {
        const outboundTableColumns = [
            {
                field: '出库日期',
                title: '出库日期'
            },
            {
                field: '订单编号',
                title: '订单编号'
            },
            {
                field: '物料编号',
                title: '物料编号'
            },
            {
                field: '物料名称',
                title: '物料名称'
            },
            {
                field: '出货数量',
                title: '出货数量'
            },
            {
                field: '出货单位',
                title: '出货单位'
            },
            {
                field: '销售单价',
                title: '销售单价（元/件）'
            },
            {
                field: '托盘装件数',
                title: '托盘装件数'
            }];
        initBaidieTable("bootstrap-table3", outboundTableColumns);
    }

    function initGroupThreeTables() {
        const groupThreeOriginalTable = [
            {
                field: '出库日期',
                title: '出库日期'
            },
            {
                field: '订单编号',
                title: '订单编号'
            },
            {
                field: '物料编号',
                title: '物料编号'
            },
            {
                field: '物料名称',
                title: '物料名称'
            },
            {
                field: '出货数量',
                title: '出货数量'
            },
            {
                field: '出货单位',
                title: '出货单位'
            },
            {
                field: '销售单价',
                title: '销售单价（元/件）'
            },
            {
                field: '托盘装件数',
                title: '托盘装件数'
            }];
        initBaidieTable("bootstrap-table4", groupThreeOriginalTable);
    }

    function checkGroup1TableSelection(recordOp = false) {
        checkSelectionResultAndRefresh(
            ABC_SELECT_GROUP_ONE_ANSWERS,
            baidieScore,
            function () {
                return createBaidieTable("bootstrap-table5", valueBasedABCTableColumns, data2);
            },
            recordOp);
    }

    function checkGroup2TableSelection(recordOp = false) {
        checkSelectionResultAndRefresh(
            ABC_SELECT_GROUP_TWO_ANSWERS,
            baidieScore,
            function () {
                return createBaidieTable("bootstrap-table7", outboundFrequencyTableColumns, data3);
            },
            recordOp);
    }

    function checkGroup3TableSelection(recordOp = false) {
        checkSelectionResultAndRefresh(
            ABC_SELECT_GROUP_THREE_ANSWERS,
            baidieScore,
            function () {
                return createBaidieTable("bootstrap-table8", groupThreeDerivedTable, data4);
            },
            recordOp);
    }

    function checkGroupOneChartSelection(recordOp = false) {
        checkSelectionResultAndRefresh(
            ABC_GROUP_ONE_CHART_ANSWERS,
            baidieScore,
            function () {
                return refreshBaidieChart('abc1', data2, '物料累计品目数百分比', '平均资金占用额累计百分比');
            },
            recordOp);
    }

    function checkGroupTwoChartSelection(recordOp = false) {
        checkSelectionResultAndRefresh(
            ABC_GROUP_TWO_CHART_ANSWERS,
            baidieScore,
            function () {
                return refreshBaidieChart(
                    'abc2', data3, '物料累计品目数百分比', '累计出库频次百分比');
            },
            recordOp);
    }

    function checkGroupThreeChartSelection(recordOp = false) {
        checkSelectionResultAndRefresh(
            ABC_GROUP_THREE_CHART_ANSWERS,
            baidieScore,
            function () {
                return refreshBaidieChart('abc3', data4, '物料累计品目数百分比', '累计出库量百分比');
            },
            recordOp);
    }

    function refreshGroupOneOriginalTable(data) {
        refreshBaidieTable("bootstrap-table", data);
    }

    function refreshGroupTwoOriginalTable(data) {
        refreshBaidieTable("bootstrap-table3", data);
    }

    function refreshGroupThreeOriginalTable(data) {
        refreshBaidieTable("bootstrap-table4", data);
    }

    function initializeSelectionFromDb() {
        checkGroup1TableSelection();
        checkGroup2TableSelection();
        checkGroup3TableSelection();
        checkGroupOneChartSelection();
        checkGroupTwoChartSelection();
        checkGroupThreeChartSelection();
    }

    /***
     * 第一个表单的导入后返回的数据处理方法
     * 返回后端传回来的数据，将对应的变化调用
     * @param url
     * @param result
     */
    function firstGroupPostImport(result) {
        data1 = JSON.parse(result.data.data1); //对返回的result中json字符串中的值data1赋值data1
        data2 = JSON.parse(result.data.data2); //对返回的result中json字符串中的值data2赋值data2
        refreshGroupOneOriginalTable(data1); //刷新第一个表bootstrap-table
        checkGroup1TableSelection(); //重新提交第一个表对应的表
        checkGroupOneChartSelection(); //重新提交第一个表对应的图
    }

    /***
     * 第二个表单的导入后返回的数据处理方法
     * 返回后端传回来的数据，将对应的变化调用
     * @param url
     * @param result
     */
    function secondGroupPostImport(result) {
        data3 = JSON.parse(result.data.data3); //对返回的result中json字符串中的值data3赋值data3
        data5 = JSON.parse(result.data.data5); //对返回的result中json字符串中的值data5赋值data5

        // 刷新原始表的显示。
        refreshGroupTwoOriginalTable(data5);
        //data3重新赋值后，加载与data3相关的调用方法
        checkGroup2TableSelection(); //重新提交第二个表对应的表
        checkGroupTwoChartSelection(); //重新提交第二个表对应的图
    }

    /***
     * 第三个表单的导入后返回的数据处理方法
     * 返回后端传回来的数据，将对应的变化调用
     * @param url
     * @param result
     */
    function thirdGroupPostImport(result) {
        data5 = JSON.parse(result.data.data5); //对返回的result中json字符串中的值data5赋值data5
        data4 = JSON.parse(result.data.data4); //对返回的result中json字符串中的值data4赋值data4
        //data5重新赋值后，只重新加载第三组原始表单
        refreshGroupThreeOriginalTable(data5);
        //data3重新赋值后，加载与data3相关的调用方法
        checkGroup3TableSelection(); //重新提交第三个表对应的表
        checkGroupThreeChartSelection(); //重新提交第三个表对应的表
    }

    /************************************************************/
    /**************ABC PAGE SELECTION ANSWERS *******************/
    /************************************************************/
    const ABC_SELECT_GROUP_ONE_ANSWERS = new Map([
        ["s1", "1"],
        ["s2", "2"],
        ["s3", "4"],
        ["s4", "4"],
        ["s5", "2"],
        ["s6", "1"]
    ]);

    const ABC_SELECT_GROUP_TWO_ANSWERS = new Map([
        ["s11", "4"],
        ["s12", "3"],
        ["s13", "3"],
        ["s14", "2"],
        ["s15", "4"],
        ["s16", "3"]
    ]);

    const ABC_SELECT_GROUP_THREE_ANSWERS = new Map([
        ["s21", "3"],
        ["s22", "2"],
        ["s23", "1"],
        ["s24", "2"],
        ["s25", "3"],
        ["s26", "3"]
    ]);

    const ABC_GROUP_ONE_CHART_ANSWERS = new Map([
        ["x", "物料累计品目数百分比"],
        ["y", "平均资金占用额累计百分比"]
    ]);

    const ABC_GROUP_TWO_CHART_ANSWERS = new Map([
        ["x1", "物料累计品目数百分比"],
        ["y1", "累计出库频次百分比"]
    ]);

    const ABC_GROUP_THREE_CHART_ANSWERS = new Map([
        ["x2", "物料累计品目数百分比"],
        ["y2", "累计出库量百分比"]
    ]);

    const valueBasedABCTableColumns = [
        {
            field: '物料编码',
            title: '物料编码'
        },
        {
            field: '销售单价',
            title: '销售单价'
        },
        {
            field: '平均库存',
            title: '平均库存'
        },
        {
            field: '平均资金占用额',
            title: '平均资金占用额'
        },
        {
            field: '平均资金占用额累计',
            title: '平均资金占用额累计'
        },
        {
            field: '平均资金占用额累计百分比',
            title: '平均资金占用额累计百分比'
        },
        {
            field: '物料累计品目数',
            title: '物料累计品目数'
        },
        {
            field: '物料累计品目数百分比',
            title: '物料累计品目数百分比'
        }];

    const outboundFrequencyTableColumns = [
        {
            field: '物料编码',
            title: '物料编码'
        },
        {
            field: '出库频次',
            title: '出库频次'
        },
        {
            field: '累计出库频次',
            title: '累计出库频次'
        },
        {
            field: '累计出库频次百分比',
            title: '累计出库频次百分比'
        },
        {
            field: '物料累计品目数',
            title: '物料累计品目数'
        },
        {
            field: '物料累计品目数百分比',
            title: '物料累计品目数百分比'
        }];

    const groupThreeDerivedTable = [
        {
            field: '物料编码',
            title: '物料编码'
        },
        {
            field: '物料描述',
            title: '物料描述'
        },
        {
            field: '出库量',
            title: '出库量'
        },
        {
            field: '累计出库量',
            title: '累计出库量'
        },
        {
            field: '累计出库量百分比',
            title: '累计出库量百分比'
        },
        {
            field: '物料累计品目数',
            title: '物料累计品目数'
        },
        {
            field: '物料累计品目数百分比',
            title: '物料累计品目数百分比'
        }];
</script>
</body>
</html>