<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('')" />
    <style>
        *{
            margin: 0;
            margin: 0;font-size:20px;
        }


    </style>
</head>
<body class="gray-bg">
<!--<div class="top_nav">-->
<!--    <div class="nav_warp">-->
<!--        <div class="nav_warp_logo"></div>-->
<!--        <div class="nav_warp_text">-->
<!--            <ul>-->
<!--                <li>< a href="#">首页</ a>-->

<!--                </li>-->
<!--                &lt;!&ndash;<li>< a href="/system/test">知识考核</ a>&ndash;&gt;-->
<!--             &lt;!&ndash;   </li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row  border-bottom white-bg dashboard-header">-->
<!--    <div style="font-size:26px;text-align: center">EOQ</div>-->
<!--    <div style="height: 17px;"></div>-->
<!--    <div style="line-height: 33px;">经济订货批量（economic order quantity）简称EOQ，通过平衡采购进货成本和保管仓储成本核算，以实现总库存成本最低的最佳订货量。经济订货批量是固定订货批量模型的一种，可以用来确定企业一次订货(外购或自制)的数量。当企业按照经济订货批量来订货时，可实现订货成本和储存成本之和最小化。基本EOQ模型基于以下的基本假设：</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.	企业能随时补充存货</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.	能集中到货，而不是陆续入库</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.	不允许缺货，无缺货成本</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.	在一定时期内，存货需求量稳定并确知</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.	存货单价不变，且不考虑现金折扣</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.	企业现金充足，不会因现金短缺影响进货</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.	在订货周期内，所有相关成本没有较大变化</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.	存货市场供应充足，不会因买不到存货而影响其他</div>-->
<!--    <div style="line-height: 33px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.	该项物资需求是独立的， 不与其他物资一起享受联合采购优惠</div>-->
<!--</div>-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>定量订购理解</h5>
                </div>
                <div class="ibox-content" style="height:200px">
                    <div class="form-horizontal m-t">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class=" control-label">选择正确的选项：</label>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">定量订购概念</label>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">适用物料类型</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">选择正确步骤</label>
                            </div>
                            <div class="col-sm-5">
                                <select class="type form-control m-b" id="s21" data-first-title="请选择">
                                    <option value="">请选择</option>
                                    <option value="1">	每次订购数量不定，监测库存数量时间固定	</option>
                                    <option value="2">	每次订购数量固定，监测库存数量时间固定	</option>
                                    <option value="3">	每次订购数量固定,监测库存数量时间不定	</option>
                                    <option value="4">	每次订购数量不定，监测库存数量时间固定	</option>


                                </select>
                            </div>
                            <div class="col-sm-5">
                                <select class="router form-control m-b" id="s22" data-first-title="请选择">
                                    <option value="">请选择</option>
                                    <option value="1">	出库频次维度下物料ABC分类中的B类和C类物料	</option>
                                    <option value="2">	库存资金占用维度下物料ABC分类中的A物料	</option>
                                    <option value="3">	出库量维度下物料ABC分类中的A类物料	</option>
                                    <option value="4">	库存资金占用维度下物料ABC分类中的A类物料	</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="submit()" type="button">提交</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>库存资金占用维度下物料ABC分类数据示例表单</h5>
                </div>
                <div class="ibox-content"  style="height:700px">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>示例物料周期内相关计算参数数值</h5>
                </div>
                <div class="ibox-content"  style="height:300px">
                    <table id="bootstrap-table5"></table>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>不允许缺货、即时补货的存储模型下最优存储策略各参数计算公式</h5>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="form-horizontal m-t">
                        <div class="form-group">

                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">选择正确的选项：</label>
                                <div class="col-sm-2">
                                    <label class="control-label">最佳订货批量（Qº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">订货周期（Tº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">订货次数（N）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Cº=SQRT(2R*CH*CD)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12">

                                <label class="col-sm-2 control-label">选择正确步骤</label>
                                <div class="col-sm-2">
                                    <select class="type form-control m-b" id="s1" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)	</option>
                                        <option value="2">	Qº=SQRT(2R*CD/CH)	</option>
                                        <option value="3">	Qº=SQRT(2R*CD/CH)*SQRT（P/(P-R))	</option>
                                        <option value="4">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)*SQRT（P/(P-R))	</option>


                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="router form-control m-b" id="s2" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	T=Qº*R	</option>
                                        <option value="2">	T=Qº/R	</option>
                                        <option value="3">	T=SQRT(Qº*R)	</option>
                                        <option value="4">	T=SQRT(Qº/R)	</option>


                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="router form-control m-b" id="s3" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	N=Tº/R	</option>
                                        <option value="2">	N=1/Tº	</option>
                                        <option value="3">	N=R/Qº	</option>
                                        <option value="4">	N=Qº/R	</option>



                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="router form-control m-b" id="s4" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Cº=SQRT(2R*CH*CD)*SQRT(CS/(CH+CS))	</option>
                                        <option value="2">	Cº=SQRT(2R*CH*CD)*SQRT（(P-R)/P)	</option>
                                        <option value="3">	Cº=SQRT(2R*CH*CD)*SQRT（(P-R)/P)	</option>
                                        <option value="4">	Cº=SQRT(2R*CH*CD)	</option>


                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="submit1()" type="button">提交</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>示例物料不允许缺货、即时补货的存储模型下最优存储策略各参数计算数值</h5>
                </div>
                <div class="ibox-content"  style="height:400px">
                    <table id="bootstrap-table1"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>允许缺货、即时补货的存储模型下最优存储策略各参数计算公式</h5>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="form-horizontal m-t">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label class="control-label">最佳订货批量（Qº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">订货周期（Tº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">订货次数（N）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">最小费用（Cº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">最大存储量(Sº)</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">最大缺货量(Bº)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div  class="row">
                                    <div class="col-sm-2">
                                        <select class="type form-control m-b" id="s11" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Qº=SQRT(2R*CD/CH)*SQRT（P/(P-R))	</option>
                                            <option value="2">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)*SQRT（P/(P-R))	</option>
                                            <option value="3">	Qº=SQRT(3R*CD/CH)	</option>
                                            <option value="4">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)	</option>



                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s12" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	T=Qº*R	</option>
                                            <option value="2">	T=Qº/R	</option>
                                            <option value="3">	T=SQRT(Qº*R)	</option>
                                            <option value="4">	T=SQRT(Qº/R)	</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s13" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	N=1/Tº	</option>
                                            <option value="2">  N=Tº/1	</option>
                                            <option value="3">	N=Tº/R	</option>
                                            <option value="4">	N=Qº/R	</option>


                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s14" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Cº=SQRT(2R*CH*CD)*SQRT（(P-R)/P)	</option>
                                            <option value="2">	Cº=SQRT(2R*CH*CD)	</option>
                                            <option value="3">	Cº=SQRT(2R*CH*CD)*SQRT(CS/(CH+CS))	</option>
                                            <option value="4">	Cº=SQRT(2R*CH*CD)*SQRT(CH+CS)	</option>


                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s15" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Sº=SQRT(2R*CD/CH)*SQRT(CS/(CH+CS))	</option>
                                            <option value="2">	Sº=SQRT(2R*CD/CH)*SQRT（(P-R)/P)	</option>
                                            <option value="3">	Sº=SQRT(2R*CD/CH)*SQRT(CS/(CH+CS))*SQRT((P-R)/P)	</option>
                                            <option value="4">	Sº=SQRT(2R*CD/CH)	</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s16" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Bº=Qº+Sº	</option>
                                            <option value="2">	Bº=R*T¹	</option>
                                            <option value="3">	Bº=Qº-Sº	</option>
                                            <option value="4">	Bº=Qº/Sº	</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="submit2()" type="button">提交</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>示例物料允许缺货、即时补货的存储模型下最优存储策略各参数计算数值</h5>
                </div>
                <div class="ibox-content" style="height:300px">
                    <table id="bootstrap-table2"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>不允许缺货、补货需要一定时间的存储模型下最优存储策略各参数计算公式</h5>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="form-horizontal m-t">
                        <div class="form-group">

                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">选择正确的选项：</label>
                                <div class="col-sm-2">
                                    <label class="control-label">最佳订货批量（Qº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">订货周期（Tº）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">订货次数（N）</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">最大存储量(Sº)</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">最小费用（Cº）</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12">
                                <div  class="row">
                                    <label class="col-sm-2 control-label">选择正确步骤</label>
                                    <div class="col-sm-2">
                                        <select class="type form-control m-b" id="s31" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Qº=SQRT(2R*CD/CH)*SQRT（P/(P-R))	</option>
                                            <option value="2">	Qº=SQRT(2R*CD/CH)	</option>
                                            <option value="3">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)*SQRT（P/(P-R))	</option>
                                            <option value="4">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)	</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s32" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	T=Qº*R	</option>
                                            <option value="2">	T=SQRT(Qº*R)	</option>
                                            <option value="3">	T=SQRT(Qº/R)	</option>
                                            <option value="4">	Tº=Qº/R	</option>


                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s33" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	N=1/Tº	</option>
                                            <option value="2">	N=R/Qº	</option>
                                            <option value="3">	N=Tº/R	</option>
                                            <option value="4">	N=Qº/R	</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s34" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Sº=SQRT(2R*CD/CH)*SQRT(CS/(CH+CS))	</option>
                                            <option value="2">	Sº=SQRT(2R*CD/CH)*SQRT(CS/(CH+CS))*SQRT((P-R)/P)	</option>
                                            <option value="3">	Sº=SQRT(2R*CD/CH)*SQRT（(P-R)/P)	</option>
                                            <option value="4">	Sº=(2R*CD/CH)*SQRT（(P-R)/P)	</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="router form-control m-b" id="s35" data-first-title="请选择">
                                            <option value="">请选择</option>
                                            <option value="1">	Cº=2R*CH*CD*SQRT（(P-R)/P)	</option>
                                            <option value="2">	Cº=SQRT(2R*CH*CD)*SQRT（(P-R)/P)	</option>
                                            <option value="3">	Cº=SQRT(2R*CH*CD)*（(P/(P-R))	</option>
                                            <option value="4">	Cº=SQRT(2R*CH*CD)*（(P-R)/P)	</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="submit3()" type="button">提交</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>示例物料不允许缺货、补货需要一定时间的存储模型下最优存储策略各参数计算数值</h5>
                </div>
                <div class="ibox-content" style="height:300px">
                    <table id="bootstrap-table3"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>允许缺货、补货需要一定时间的存储模型下最优存储策略各参数计算公式</h5>
                </div>
                <div class="ibox-content" style="height:700px">
                    <div class="form-horizontal m-t">
                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">最佳订货批量（Qº）</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="type form-control m-b" id="s41" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Qº=SQRT(2R*CD/CH)*SQRT（P/(P-R))	</option>
                                        <option value="2">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)*SQRT（P/(P-R))	</option>
                                        <option value="3">	Qº=SQRT(2R*CD/CH)	</option>
                                        <option value="4">	Qº=SQRT(2R*CD/CH)*SQRT((CH+CS)/CS)	</option>


                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">订货周期（Tº）</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="router form-control m-b" id="s42" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Tº=Qº/R	</option>
                                        <option value="2">	Tº=Qº*R	</option>
                                        <option value="3">	Tº=SQRT(Qº*R)	</option>
                                        <option value="4">	Tº=SQRT(Qº/R)	</option>



                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">订货次数（N）</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="router form-control m-b" id="s43" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	N=Qº/R	</option>
                                        <option value="2">	N=Tº/R	</option>
                                        <option value="3">	N=1/Tº	</option>
                                        <option value="4">	N=R/Qº	</option>


                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">最大存储量(Sº)</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="router form-control m-b" id="s44" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Sº=SQRT(2R*CD/CH)*SQRT(CS/(CH+CS))*SQRT((P-R)/P)	</option>
                                        <option value="2">	Sº=SQRT(2R*CD/CH)*SQRT（(P-R)/P)	</option>
                                        <option value="3">	Sº=SQRT(2R*CD/CH)*SQRT(CS/(CH+CS))	</option>
                                        <option value="4">	Sº=SQRT(2R*CD/CH)	</option>


                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">最佳生产时间(T¹)</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="router form-control m-b" id="s45" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	T¹=SQRT(CH/(CH+CS))*SQRT(2CD/CH*R)*SQRT((CH+CS)/CS)*SQRT((P-R)/P)	</option>
                                        <option value="2">	T¹=(CH/(CH+CS))*SQRT(2CD/(CH*R))*SQRT((CH+CS)/CS)*SQRT((P-R)/P)	</option>
                                        <option value="3">	T¹=SQRT(CH/(CH+CS))*SQRT(2CD/CH*R)	</option>
                                        <option value="4">	T¹=SQRT(2CD/CH*R)	</option>


                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">最大缺货量(Bº)</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="router form-control m-b" id="s46" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Bº=Qº/Sº	</option>
                                        <option value="2">	Bº=Qº+Sº	</option>
                                        <option value="3">	Bº=R*T¹	</option>
                                        <option value="4">	Bº=Qº-Sº	</option>

                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">最小费用（Cº）</label>
                                </div>
                                <div class="col-sm-12">
                                    <select class="router form-control m-b" id="s47" data-first-title="请选择">
                                        <option value="">请选择</option>
                                        <option value="1">	Cº=2R*CH*CD*SQRT（(P-R)/P)	</option>
                                        <option value="2">	Cº=SQRT(2R*CH*CD)*SQRT（(P-R)/P)	</option>
                                        <option value="3">	Cº=SQRT(2R*CH*CD)*（(P-R)/P)	</option>
                                        <option value="4">	Cº=SQRT(3R*CH*CD)*（(P/(P-R))	</option>



                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-6" th:height="40px">
                                <button class="btn btn-primary" onclick="submit4()" type="button">提交</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>示例物料允许缺货、补货需要一定时间的存储模型下最优存储策略各参数计算数值</h5>
                </div>
                <div class="ibox-content" style="height:700px">
                    <table id="bootstrap-table4"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>实验结果提交</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="height:300px">
                    <div class="col-sm-12 col-sm-offset-6" th:height="40px" style="margin-top: 20px">
                        <p><span id="trainingId" style="display: none" th:text="${trainingId}"></span></p>
                        <p> <span id="token" style="display: none" th:text="${token}"></span></p>
                        <button class="btn btn-primary" onclick="end()" type="button">提交</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: echarts-js" />
<script  th:inline="javascript">
    var total =0;
    var n=0;
    function end(){
        n=(n)/(total);
        window.location.href=ctx+"end?score="+n+"&trainingId="+$('#trainingId').text()+"&token="+$('#token').text();
    }
    var data1,data2,data3,data4,data5,data6,data7,data8,data9;
    $.getJSON("../../../file/eoq.json", function (data) {
        data1=data.data5;
        data2=data.data6;
        data3=data.data7;
        data4=data.data8;
        data5=data.data9;
        data6=data.data10;
        $.post(ctx + "system/op/list1?&trainingId="+$('#trainingId').text()+"&token="+$('#token').text(), function(result) {
            var d = result.rows;
            for(var i=0;i<result.total;i++){
                $("#"+d[i].opId).val(d[i].opValue);
            }
            submit();
            submit1();
            submit2();
            submit3();
            submit4();
        });
        // loadTable();
        // loadTable1();
        // loadTable2();
        // loadTable3();
        // loadTable4();
        // loadTable5();
        // // loadTable11();
        // load1();
        // // load2();
        // load3();
        // load4();
        // load5();
        // load8();
        // load9();
    });
    function addResutl(opId,opValue) {
        $.post(ctx + "system/op/add?trainingId="+$('#trainingId').text()+"&token="+$('#token').text() + "&opId=" + opId + "&opValue=" + opValue, function (result) {
        });
    }
    function submit(){
        var s1 = $('#s21 option:selected').val();
        var s2 = $('#s22 option:selected').val();
        var m = 0;
        total++;
        if(s1!=3){
            $('#s21').css("background-color","red");
            setTimeout(function() {
                $('#s21').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s2!=4){
            $('#s22').css("background-color","red");
            setTimeout(function() {
                $('#s22').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }

        if(m==0){
            loadTable();
            n++;
            addResutl("s21",s1);
            addResutl("s22",s2);
        }

    }
    function loadTable() {
        var options = {
            id:"bootstrap-table",
            toolbar:null,
            data:data1,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],
            sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: true,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {"field":"物料编码","title":"物料编码"},
                {"field":"销售单价（元/件）","title":"销售单价（元/件）"},
                {"field":"平均库存（件/月）","title":"平均库存（件/月）"},
                {"field":"平均资金占用额（元）","title":"平均资金占用额（元）"},
                {"field":"平均资金占用额累计（元）","title":"平均资金占用额累计（元）"},
                {"field":"平均资金占用额累计百分比","title":"平均资金占用额累计百分比"},
                {"field":"物料累计品目数","title":"物料累计品目数"},
                {"field":"物料累计品目数百分比","title":"物料累计品目数百分比"},
                {"field":"类别","title":"类别"},

            ]
        };
        $.table.init(options);
        var options1 = {
            id:"bootstrap-table5",
            toolbar:null,
            data:data2,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],
            sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: true,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {"field":"物料编码","title":"物料编码"},
                {"field":"需求量（件/年）：R","title":"需求量（件/年）：R"},
                {"field":"存储费用（元/年）:CH","title":"存储费用（元/年）:CH"},
                {"field":"订货费（元/件）:CD","title":"订货费（元/件）:CD"},
                {"field":"生产率（件/年）:P","title":"生产率（件/年）:P"},
                {"field":"缺货费用（件/元）:CS","title":"缺货费用（件/元）:CS"},

            ]
        };
        $.table.init(options1);
    }
    function submit1(){
        var s1 = $('#s1 option:selected').val();
        var s2 = $('#s2 option:selected').val();
        var s3 = $('#s3 option:selected').val();
        var s4 = $('#s4 option:selected').val();
        total++;
        var m = 0;
        if(s1!=2){
            $('#s1').css("background-color","red");
            setTimeout(function() {
                $('#s1').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s2!=2){
            $('#s2').css("background-color","red");
            setTimeout(function() {
                $('#s2').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s3!=3){
            $('#s3').css("background-color","red");
            setTimeout(function() {
                $('#s3').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s4!=4){
            $('#s4').css("background-color","red");
            setTimeout(function() {
                $('#s4').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }

        if(m==0){
            loadTable1();
            n++;
            addResutl("s1",s1);
            addResutl("s2",s2);
            addResutl("s3",s3);
            addResutl("s4",s4);
        }

    }
    function loadTable1() {
        var options = {
            id:"bootstrap-table1",
            toolbar:null,
            data:data3,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],
            sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: true,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {"field":"物料编码","title":"物料编码"},
                {"field":"需求量（件/年）","title":"需求量（件/年）"},
                {"field":"订购费用（元/次）","title":"订购费用（元/次）"},
                {"field":"存储费用（元/年）","title":"存储费用（元/年）"},
                {"field":"最佳订货批量（件）","title":"最佳订货批量（件）"},
                {"field":"订货周期（年）","title":"订货周期（年）"},
                {"field":"订货次数（次）","title":"订货次数（次）"},
                {"field":"最小费用（元）","title":"最小费用（元）"},

            ]
        };
        $.table.init(options);
    }

    function submit2(){
        var s1 = $('#s11 option:selected').val();
        var s2 = $('#s12 option:selected').val();
        var s3 = $('#s13 option:selected').val();
        var s4 = $('#s14 option:selected').val();
        var s5 = $('#s15 option:selected').val();
        var s6 = $('#s16 option:selected').val();
        var m = 0;
        total++;
        if(s1!=4){
            $('#s11').css("background-color","red");
            setTimeout(function() {
                $('#s11').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s2!=2){
            $('#s12').css("background-color","red");
            setTimeout(function() {
                $('#s12').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s3!=1){
            $('#s13').css("background-color","red");
            setTimeout(function() {
                $('#s13').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s4!=3){
            $('#s14').css("background-color","red");
            setTimeout(function() {
                $('#s14').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s5!=1){
            $('#s15').css("background-color","red");
            setTimeout(function() {
                $('#s15').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s6!=3){
            $('#s16').css("background-color","red");
            setTimeout(function() {
                $('#s16').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(m==0){
            loadTable2();
            n++;
            addResutl("s11",s1);
            addResutl("s12",s2);
            addResutl("s13",s3);
            addResutl("s14",s4);
            addResutl("s15",s5);
            addResutl("s16",s6);
        }

    }
    function loadTable2() {
        var options = {
            id:"bootstrap-table2",
            toolbar:null,
            data:data4,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],
            sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: true,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {"field":"物料编码","title":"物料编码"},
                {"field":"需求量（件/年）","title":"需求量（件/年）"},
                {"field":"订购费用（元/次）","title":"订购费用（元/次）"},
                {"field":"存储费用（元/年）","title":"存储费用（元/年）"},
                {"field":"缺货费用（元/年）","title":"缺货费用（元/年）"},
                {"field":"最佳订货批量（件）","title":"最佳订货批量（件）"},
                {"field":"订货周期（年）","title":"订货周期（年）"},
                {"field":"订货次数（次）","title":"订货次数（次）"},
                {"field":"最大存储数量（件）","title":"最大存储数量（件）"},
                {"field":"最大缺货数量（件）","title":"最大缺货数量（件）"},
                {"field":"最小费用（元）","title":"最小费用（元）"},

            ]
        };
        $.table.init(options);
    }

    function submit3(){
        var s1 = $('#s31 option:selected').val();
        var s2 = $('#s32 option:selected').val();
        var s3 = $('#s33 option:selected').val();
        var s4 = $('#s34 option:selected').val();
        var s5 = $('#s35 option:selected').val();
        var m = 0;
        total++;
        if(s1!=1){
            $('#s31').css("background-color","red");
            setTimeout(function() {
                $('#s31').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s2!=4){
            $('#s32').css("background-color","red");
            setTimeout(function() {
                $('#s32').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s3!=2){
            $('#s33').css("background-color","red");
            setTimeout(function() {
                $('#s33').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s4!=3){
            $('#s34').css("background-color","red");
            setTimeout(function() {
                $('#s34').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s5!=2){
            $('#s35').css("background-color","red");
            setTimeout(function() {
                $('#s35').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(m==0){
            loadTable3();
            n++;
            addResutl("s31",s1);
            addResutl("s32",s2);
            addResutl("s33",s3);
            addResutl("s34",s4);
            addResutl("s35",s5);
        }

    }
    function loadTable3() {
        var options = {
            id:"bootstrap-table3",
            toolbar:null,
            data:data5,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],
            sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: true,
            exportTypes: ['excel','txt','xml'],
            columns:[
                {"field":"物料编码","title":"物料编码"},
                {"field":"需求量（件/年）","title":"需求量（件/年）"},
                {"field":"存储费用（元/年）","title":"存储费用（元/年）"},
                {"field":"订货费（元/件）","title":"订货费（元/件）"},
                {"field":"生产率（件/年）","title":"生产率（件/年）"},
                {"field":"最佳订货批量（件）","title":"最佳订货批量（件）"},
                {"field":"订货周期（年）","title":"订货周期（年）"},
                {"field":"订货次数（次）","title":"订货次数（次）"},
                {"field":"最大存储数量（件）","title":"最大存储数量（件）"},
                {"field":"最小费用（元）","title":"最小费用（元）"},

            ]
        };
        $.table.init(options);
    }

    function submit4(){
        var s1 = $('#s41 option:selected').val();
        var s2 = $('#s42 option:selected').val();
        var s3 = $('#s43 option:selected').val();
        var s4 = $('#s44 option:selected').val();
        var s5 = $('#s45 option:selected').val();
        var s6 = $('#s46 option:selected').val();
        var s7 = $('#s47 option:selected').val();

        var m = 0;
        total++;
        if(s1!=2){
            $('#s41').css("background-color","red");
            setTimeout(function() {
                $('#s41').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s2!=1){
            $('#s42').css("background-color","red");
            setTimeout(function() {
                $('#s42').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s3!=4){
            $('#s43').css("background-color","red");
            setTimeout(function() {
                $('#s43').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s4!=1){
            $('#s44').css("background-color","red");
            setTimeout(function() {
                $('#s44').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s5!=2){
            $('#s45').css("background-color","red");
            setTimeout(function() {
                $('#s45').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s6!=3){
            $('#s46').css("background-color","red");
            setTimeout(function() {
                $('#s46').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }
        if(s7!=3){
            $('#s47').css("background-color","red");
            setTimeout(function() {
                $('#s47').css("background-color","white");
            },3000); //一秒内不能重复点击
            m++;
        }

        if(m==0){
            loadTable4();
            n++;
            addResutl("s41",s1);
            addResutl("s42",s2);
            addResutl("s43",s3);
            addResutl("s44",s4);
            addResutl("s45",s5);
            addResutl("s46",s6);
            addResutl("s47",s7);
        }

    }
    function loadTable4() {
        var options = {
            id:"bootstrap-table4",
            toolbar:null,
            data:data6,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],
            sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: true,
            exportTypes: ['excel','txt','xml'],
            columns:[
                {"field":"物料编码","title":"物料编码"},
                {"field":"需求量（件/年）","title":"需求量（件/年）"},
                {"field":"存储费用（元/年）","title":"存储费用（元/年）"},
                {"field":"订货费（元/件）","title":"订货费（元/件）"},
                {"field":"生产率（件/年）","title":"生产率（件/年）"},
                {"field":"缺货费用（件/元）","title":"缺货费用（件/元）"},
                {"field":"最佳订货批量（件）","title":"最佳订货批量（件）"},
                {"field":"订货周期（年）","title":"订货周期（年）"},
                {"field":"订货次数（次）","title":"订货次数（次）"},
                {"field":"最大存储量(件)","title":"最大存储量(件)"},
                {"field":"最佳生产时间(年)","title":"最佳生产时间(年)"},
                {"field":"最大缺货量(件)","title":"最大缺货量(件)"},
                {"field":"最小费用（元）","title":"最小费用（元）"},

            ]
        };
        $.table.init(options);
    }

</script>

</body>
</html>