<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('')" />

    <style>
        *{
            margin: 0;
            margin: 0;font-size:20px;
        }

    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row" >
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                </div>
                <div class="ibox-content" style="height: 500px">
                    <div class="col-sm-12">
                        <div style="font-size:26px;text-align: center; word-wrap: break-word;">企业资源计划（ERP）</div>
                        <div>
                            <p>企业资源计划即 ERP (Enterprise Resource Planning)，由由美国计算机技术咨询和评估集团 Gartner Group Inc 提出的一种供应链的管理思想。在企业中，一般的管理主要包括三方面的内容：生产控制（计划、制造）、物流管理（分销、采购、库存管理）和财务管理（会计核算、财务管理）。</p>
                            <p>企业资源计划是指建立在信息技术基础上，以系统化的管理思想，为企业决策层及员工提供决策运行手段的管理平台。ERP 系统支持离散型、流程型等混合制造环境，应用范围从制造业扩展到了零售业、服务业、银行业、电信业、政府机关和学校等事业部门，通过融合数据库技术、图形用户界面、第四代查询语言、客户服务器结构、计算机辅助开发工具、可移植的开放系统等对企业资源进行了有效的集成。</p>
                            <p>ERP 是将企业所有资源进行整合集成管理，简单的说是将企业的三大流：物流，资金流，信息流进行全面一体化管理的管理信息系统。这三大系统本身就是集成体，它们互相之间有相应的接口，能够很好的整合在一起来对企业进行管理，并且已经有越来越多的 ERP厂商将人力资源管理纳入了 ERP 系统的一个重要组成部分。</p>
                            <p>ERP主要指的是一种管理思想，而非某种具体的企业信息系统，围绕着ERP思想很多技术企业厂商开发并提供相关的软件服务，其中耳熟能详的就是SAP（思爱普）。</p>
                            <p>一般用于支持企业进行ERP管理思想的信息系统包括以下主要功能：供应链管理（SCM）、销售与市场、分销、客户服务、财务管理、制造管理、库存管理、工厂与设备维护、人力资源、报表、制造执行系统 (Manufacturing Executive System，MES)、工作流服务和企业信息系统等。此外，还包括金融投资管理、质量管理、运输管理、项目管理、法规与标准和过程控制等补充功能等。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"  style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                </div>
                <div class="ibox-content" style="height: 400px">
                    <div class="col-sm-12">
                        <div style="font-size:26px;text-align: center">仓储管理系统（WMS）</div>
                        仓储管理系统（Warehouse Management System）是一个实时的计算机软件系统，它能够按照运作的业务规则和运算法则，对信息、资源、行为、存货和分销运作进行更完美地管理，提高效率。这里所称的“仓储”包括生产和供应领域中各种类型的储存仓库和配送中心，也包括普通仓库, 物流仓库以及货代仓库。
                    </div>
                    <div class="col-sm-12">
                        仓储管理系统中的软件指的是支持整个系统运作的软件部分，包括收货处理、上架管理、拣货作业、月台管理、补货管理、库内作业、越库操作、循环盘点、RF操作、加工管理、矩阵式收费等。仓储管理系统中的硬件指的是用于打破传统数据采集和上传的瓶颈问题，利用自动识别技术和无线传输提高数据的精度和传输的速度。
                        <div >
                            WMS软件除了管理仓库作业的结果记录、核对和管理外最大的功能是对仓库作业过程的指导和规范：即不但对结果进行处理，更是通过对作业动作的指导和规范保证作业的准确性、速度和相关记录数据的自动登记（入计算机系统），增加仓库的效率、管理透明度、真实度降低成本比如通过无线终端指导操作员给某定单发货：当操作员提出发货请求时，
                            终端提示操作员应到哪个具体的仓库货位取出指定数量的那几种商品，扫描货架和商品条码核对是否正确，然后送到接货区，录入运输单位信息，完成出货任务，重要的是包括出货时间、操作员、货物种类、数量、产品序列号、承运单位等信息在货物装车的同时已经通过无线方式传输到了计算机信息中心数据库。
                        </div>

                        <div >
                            一般用于支持企业仓库管理的信息系统主要包含以下功能模块：
                            产品入库、产品出库、库存管理、特殊品库、调拨管理、盘点管理、库存上限报警等
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table1"  style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap"></table>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
            </div>
            <div class="ibox-content" style="height: 300px">
                <div class="col-sm-12">
                    <div style="font-size:26px;text-align: center">运输管理系统（TMS）
                    </div>
                    <div>运输管理系统（Transportation Management System）是一种“供应链”分组下的（基于网络的）操作软件，TMS大部分只作为一个管理系统中的其中一个子系统来运用，主要在物流管理系统中，其主要功能是对物流环节中的运输环节的具体管理，包括车辆管理，在运途中货物的管理等。它能通过多种方法和其他相关的操作一起提高物流的管理能力；包括管理装运单位，指定企业内、国内和国外的发货计划，管理运输模型、基准和费用，维护运输数据，生成提单，优化运输计划，选择承运人及服务方式，招标和投标，审计和支付货运账单，处理货损索赔，安排劳力和场所，管理文件（尤其当国际运输时）和管理第三方物流。

                        <div>一般用于支持企业运输管理的信息系统主要包含以下功能模块：
                            调度管理、车辆管理、配件管理、油耗管理、费用结算、人员管理、资源管理、财务核算、绩效考核、车辆跟踪、业务跟踪、业务统计、白卡管理、监控中心系统、账单查询等。
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table2"  style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap"></table>
            </div>
        </div>
    </div>

        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="text-center">
                        <p><span id="trainingId" style="display: none" th:text="${trainingId}"></span></p>
                        <p> <span id="token" style="display: none" th:text="${token}"></span></p>
                        <button type="button" class="btn btn-primary" onclick="next()">下一步</button>
                    </div>
                </div>
            </div>
        </div>

</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    $(function() {
        var data = [
            {"工厂":"BJGY","库位":1100,"输入时间":0.698715278,"过账日期":"2018.03.28","MvT":101,"移动类型文本":"GR 收货","物料号":4704419,"物料描述":"脉动（达能，青柠味，600ML*15瓶/件）","数量":60,"单位":"BOT","采购订单":4505122865,"供应商":14526,"交货日期":43160,"客户代码":102186,"售达方代码":102186,"送达方代码":102188,"门店名称":"水木锦堂北京朝外店","SAP订单号":11916488,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-22","托盘号":312975078,"无货主商品编码":4721059,"商品编码":"BJGY-4721059","描述":"巴沙鱼片（雄王，AA，9成，17-22，10KG/件）","批号":20170617,"货位状态":"在库","总库存":40170000,"可用库存":40170000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":40170,"可用库存1":40170,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":40170,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.636099537,"过账日期":"2018.03.28","MvT":101,"移动类型文本":"GR 收货","物料号":4001543,"物料描述":"雪花勇闯天涯（500ML*12瓶/件）","数量":9120,"单位":"BOT","采购订单":4505077549,"供应商":104147,"交货日期":43160,"客户代码":102186,"售达方代码":102186,"送达方代码":102190,"门店名称":"水木锦堂北京长楹天街","SAP订单号":11916727,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"G002-10-6","托盘号":326940386,"无货主商品编码":4712426,"商品编码":"BJHD-4712426","描述":"清水虾（宏业，40G-50G，10KG/件）-BJHD","批号":201706249
                ,"货位状态":"在库","总库存":25300000,"可用库存":25300000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"10公斤/件","总库存1":2530,"可用库存1":2530,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Z69","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":25300,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.441539352,"过账日期":"2018.03.27","MvT":101,"移动类型文本":"GR 收货","物料号":4000710,"物料描述":"雪碧（1.25L*12瓶/件）","数量":180,"单位":"BOT","采购订单":4505117697,"供应商":11010,"交货日期":43160,"客户代码":102186,"售达方代码":102186,"送达方代码":102189,"门店名称":"水木锦堂北京望京店","SAP订单号":11918201,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"G004-16-6","托盘号":434483190,"无货主商品编码":4712426,"商品编码":"BJHD-4712426","描述":"清水虾（宏业，40G-50G，10KG/件）-BJHD","批号":201706249
                ,"货位状态":"在库","总库存":19900000,"可用库存":19900000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"10公斤/件","总库存1":1990,"可用库存1":1990,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Z69","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":19900,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.441539352,"过账日期":"2018.03.27","MvT":101,"移动类型文本":"GR 收货","物料号":4005173,"物料描述":"美汁源果粒橙（450ML*12瓶/件）","数量":240,"单位":"BOT","采购订单":4505117697,"供应商":11010,"交货日期":43160,"客户代码":102186,"售达方代码":102186,"送达方代码":104822,"门店名称":"水木锦堂荟聚店","SAP订单号":11919109,"过账数量":2,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-21","托盘号":386158877,"无货主商品编码":4733041,"商品编码":"BJGY-4733041","描述":"冻去舌猪头（美国，18079厂）","批号":20170404104522,"货位状态":"在库","总库存":19828530,"可用库存":19828530,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":19828.53,"可用库存1":19828.53,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":19828.53,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.538738426,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4000451,"物料描述":"牛栏山白酒42度（500ML*12瓶/件）","数量":168,"单位":"BOT","采购订单":4505117025,"供应商":100889,"交货日期":43160,"客户代码":103168,"售达方代码":103176,"送达方代码":107629,"门店名称":"九毛九天津梦乐城店","SAP订单号":11917437,"过账数量":2,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-22","托盘号":459684933,"无货主商品编码":4717313,"商品编码":"BJGY-4717313","描述":"冻猪脊骨（加拿大）","批号":20171021,"货位状态":"在库","总库存":18881110,"可用库存":18881110,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":18881.11,"可用库存1":18881.11,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":18881.11,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.538738426,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4003064,"物料描述":"百岁山纯净水（570ML*24瓶/件）","数量":192,"单位":"BOT","采购订单":4505117025,"供应商":100889,"交货日期":43160,"客户代码":103168,"售达方代码":103168,"送达方代码":103249,"门店名称":"九毛九天津永旺店","SAP订单号":11919104,"过账数量":3,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-21","托盘号":407172965,"无货主商品编码":4727465,"商品编码":"BJGY-4727465","描述":"冻猪肋排（德国，10KG/件）","批号":20170809,"货位状态":"在库","总库存":18680000,"可用库存":18680000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":18680,"可用库存1":18680,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":18680,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.493680556,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4000966,"物料描述":"青岛纯生（500ML*12瓶/件）","数量":600,"单位":"BOT","采购订单":4505116984,"供应商":19051,"交货日期":43160,"客户代码":100463,"售达方代码":100463,"送达方代码":100459,"门店名称":"肥猫餐厅（大悦城店）","SAP订单号":11919834,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"CWN","货主代码":"BJHH","货位":"K005-01-2","托盘号":437010733,"无货主商品编码":4724630,"商品编码":"BJHH-4724630","描述":"大米（20KG/袋）-BJHH","批号":201802069
                ,"货位状态":"在库","总库存":18502000,"可用库存":16742000,"已预约库存":1760000,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"20公斤/袋","总库存1":925.1,"可用库存1":837.1,"已预约库存1":88,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Y30","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":18502,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.493680556,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4001548,"物料描述":"燕京鲜啤（500ML*12瓶/件）","数量":1800,"单位":"BOT","采购订单":4505116984,"供应商":19051,"交货日期":43160,"客户代码":100463,"售达方代码":100463,"送达方代码":100468,"门店名称":"肥猫餐厅（悠唐店）","SAP订单号":11920156,"过账数量":2,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-42","托盘号":473382258,"无货主商品编码":4727982,"商品编码":"BJGY-4727982","描述":"去骨羔羊肋腹肉（羊羊牧业，20KG/件）","批号":20171013102996,"货位状态":"在库","总库存":16940000,"可用库存":16940000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":16940,"可用库存1":16940,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":16940,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.493680556,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4001842,"物料描述":"奥古特（500ML*12瓶/件）","数量":96,"单位":"BOT","采购订单":4505116984,"供应商":19051,"交货日期":43160,"客户代码":105608,"售达方代码":105608,"送达方代码":107178,"门店名称":"老屋川菜万达店","SAP订单号":11920252,"过账数量":6,"单位名称":"500毫升*12瓶/件","单位代码":"V72","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"CWN","货主代码":"BJQN","货位":"Z020-09-2","托盘号":490671266,"无货主商品编码":4715256,"商品编码":"BJQN-4715256","描述":"香米（五梁红，25KG/袋）-BJQN","批号":201801209
                ,"货位状态":"在库","总库存":16250000,"可用库存":16250000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"25公斤/袋","总库存1":650,"可用库存1":650,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Z76","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":16250,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.493680556,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4003288,"物料描述":"桂花酸梅汤（信远斋，300ML*12瓶/件）","数量":780,"单位":"BOT","采购订单":4505116984,"供应商":19051,"交货日期":43160,"客户代码":101495,"售达方代码":101495,"送达方代码":103642,"门店名称":"U鼎冒菜总部基地汉威","SAP订单号":11920049,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-31","托盘号":312114292,"无货主商品编码":4723036,"商品编码":"BJGY-4723036","描述":"巴沙鱼柳（湄公大师，AAA，300-400，10成，10KG/件）","批号":20171106101908,"货位状态":"在库","总库存":13220000,"可用库存":11720000,"已预约库存":1500000,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":13220,"可用库存1":11720,"已预约库存1":1500,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":13220,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.493680556,"过账日期":"2018.03.26","MvT":101,"移动类型文本":"GR 收货","物料号":4701436,"物料描述":"燕京纯生啤酒10度（500ML*12瓶/件）","数量":660,"单位":"L","采购订单":4505116984,"供应商":19051,"交货日期":43160,"客户代码":102575,"售达方代码":102575,"送达方代码":106816,"门店名称":"船歌鱼崇文门店","SAP订单号":11920400,"过账数量":2,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJGY","货位":"R001-01-42","托盘号":382991675,"无货主商品编码":1700966,"商品编码":"BJGY-1700966","描述":"一品鸡肉丸（正大，500G*20包/件）","批号":20180108102600,"货位状态":"在库","总库存":12000000,"可用库存":12000000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":12000,"可用库存1":12000,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":12000,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.421331019,"过账日期":"2018.03.24","MvT":101,"移动类型文本":"GR 收货","物料号":4000451,"物料描述":"牛栏山白酒42度（500ML*12瓶/件）","数量":396,"单位":"BOT","采购订单":4505081436,"供应商":100889,"交货日期":43160,"客户代码":100463,"售达方代码":100463,"送达方代码":101107,"门店名称":"肥猫北京万寿路店","SAP订单号":11920320,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"CWN","货主代码":"BJGY","货位":"X001-01-11","托盘号":419677556,"无货主商品编码":4700456,"商品编码":"BJGY-4700456","描述":"绵白糖（雪景，50KG/袋）","批号":20180204101762,"货位状态":"在库","总库存":12000000,"可用库存":12000000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"公斤","总库存1":12000,"可用库存1":12000,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"KG","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":12000,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.5634375,"过账日期":"2018.03.25","MvT":101,"移动类型文本":"GR 收货","物料号":4001019,"物料描述":"雪花纯生（500ML*12瓶/件）","数量":240,"单位":"BOT","采购订单":4505107069,"供应商":12335,"交货日期":43160,"客户代码":105608,"售达方代码":105608,"送达方代码":107404,"门店名称":"老屋川菜凯德店","SAP订单号":11920016,"过账数量":2,"单位名称":"500毫升*12瓶/件","单位代码":"V72","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"CWN","货主代码":"BJGY","货位":"X001-02-01","托盘号":349682818,"无货主商品编码":4701362,"商品编码":"BJGY-4701362","描述":"五得利特精面粉（25KG/袋）","批号":20180207101597,"货位状态":"在库","总库存":11075003,"可用库存":10075004,"已预约库存":999999,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"25公斤/袋","总库存1":443.00012,"可用库存1":403.00016,"已预约库存1":39.99996,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Z76","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":11075.003,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.857268519,"过账日期":"2018.03.24","MvT":101,"移动类型文本":"GR 收货","物料号":4704419,"物料描述":"脉动（达能，青柠味，600ML*15瓶/件）","数量":120,"单位":"BOT","采购订单":4505088591,"供应商":14526,"交货日期":43160,"客户代码":100463,"售达方代码":100463,"送达方代码":101211,"门店名称":"肥猫北京龙湖店","SAP订单号":11920030,"过账数量":3,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"E001-02-41","托盘号":458471590,"无货主商品编码":4712421,"商品编码":"BJHD-4712421","描述":"清水虾（德炎，50G-60G，8KG/件）-BJHD","批号":201708039
                ,"货位状态":"在库","总库存":11000000,"可用库存":11000000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"8公斤/件","总库存1":1375,"可用库存1":1375,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Y10","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":11000,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.698773148,"过账日期":"2018.03.16","MvT":101,"移动类型文本":"GR 收货","物料号":4000451,"物料描述":"牛栏山白酒42度（500ML*12瓶/件）","数量":240,"单位":"BOT","采购订单":4505060064,"供应商":100889,"交货日期":43160,"客户代码":105608,"售达方代码":105608,"送达方代码":105608,"门店名称":"老屋川菜常营店","SAP订单号":11920455,"过账数量":2,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"I005-15-4","托盘号":471432896,"无货主商品编码":4712420,"商品编码":"BJHD-4712420","描述":"清水虾（德炎，40G-50G，8KG/件）-BJHD","批号":201708039
                ,"货位状态":"在库","总库存":10400000,"可用库存":10400000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"8公斤/件","总库存1":1300,"可用库存1":1300,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Y10","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":10400,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.820648148,"过账日期":"2018.03.24","MvT":101,"移动类型文本":"GR 收货","物料号":4704404,"物料描述":"阿萨姆奶茶（统一，500ML*15瓶/件）","数量":150,"单位":"BOT","采购订单":4505106901,"供应商":14526,"交货日期":43160,"客户代码":101495,"售达方代码":101495,"送达方代码":101506,"门店名称":"U鼎冒菜天通苑华联店","SAP订单号":11920542,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"I005-15-5","托盘号":485551406,"无货主商品编码":4712420,"商品编码":"BJHD-4712420","描述":"清水虾（德炎，40G-50G，8KG/件）-BJHD","批号":201708039
                ,"货位状态":"在库","总库存":10400000,"可用库存":10400000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"8公斤/件","总库存1":1300,"可用库存1":1300,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Y10","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":10400,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.698773148,"过账日期":"2018.03.16","MvT":101,"移动类型文本":"GR 收货","物料号":4000451,"物料描述":"牛栏山白酒42度（500ML*12瓶/件）","数量":240,"单位":"BOT","采购订单":4505060064,"供应商":100889,"交货日期":43160,"客户代码":105608,"售达方代码":105608,"送达方代码":105608,"门店名称":"老屋川菜常营店","SAP订单号":11920455,"过账数量":2,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"I005-15-4","托盘号":471432896,"无货主商品编码":4712420,"商品编码":"BJHD-4712420","描述":"清水虾（德炎，40G-50G，8KG/件）-BJHD","批号":201708039
                ,"货位状态":"在库","总库存":10400000,"可用库存":10400000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"8公斤/件","总库存1":1300,"可用库存1":1300,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Y10","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":10400,"商品状态":"可用","分配":"存储"},
            {"工厂":"BJGY","库位":1100,"输入时间":0.820648148,"过账日期":"2018.03.24","MvT":101,"移动类型文本":"GR 收货","物料号":4704404,"物料描述":"阿萨姆奶茶（统一，500ML*15瓶/件）","数量":150,"单位":"BOT","采购订单":4505106901,"供应商":14526,"交货日期":43160,"客户代码":101495,"售达方代码":101495,"送达方代码":101506,"门店名称":"U鼎冒菜天通苑华联店","SAP订单号":11920542,"过账数量":1,"单位名称":"12瓶/件","单位代码":"X51","规格":12,"销售组织":"BJGY","仓库ID":"HDLGB","区域":"LDN","货主代码":"BJHD","货位":"I005-15-5","托盘号":485551406,"无货主商品编码":4712420,"商品编码":"BJHD-4712420","描述":"清水虾（德炎，40G-50G，8KG/件）-BJHD","批号":201708039
                ,"货位状态":"在库","总库存":10400000,"可用库存":10400000,"已预约库存":0,"未上架库存":0,"出库中":0,"冻结库存":0,"最小单位":"克","发运单位":"8公斤/件","总库存1":1300,"可用库存1":1300,"已预约库存1":0,"未上架库存1":0,"出库中库存1":0,"冻结库存1":0,"基本单位":"Y10","SAP":"KG","SAP描述":"公斤","SAP转换系数":0.,"SAP数量":10400,"商品状态":"可用","分配":"存储"}
        ];
        var options1 = {
            id:"bootstrap-table",
            data:data,
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],  sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: false,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {
                    field: '工厂',
                    title: '工厂'
                },
                {
                    field: '库位',
                    title: '库位'
                },
                {
                    field: '输入时间',
                    title: '输入时间'
                },
                {
                    field: '过账日期',
                    title: '过账日期'
                },
                {
                    field: 'MvT',
                    title: 'MvT'
                },
                {
                    field: '移动类型文本',
                    title: '移动类型文本'
                },
                {
                    field: '物料号',
                    title: '物料号'
                },
                {
                    field: '物料描述',
                    title: '物料描述'
                },
                {
                    field: '数量',
                    title: '数量'
                },
                {
                    field: '单位',
                    title: '单位'
                },
                {
                    field: '采购订单',
                    title: '采购订单'
                },
                {
                    field: '供应商',
                    title: '供应商'
                },
                {
                    field: '交货日期',
                    title: '交货日期'
                },
                {
                    field: '客户代码',
                    title: '客户代码'
                },
                {
                    field: '售达方代码',
                    title: '售达方代码'
                },
                {
                    field: '送达方代码',
                    title: '送达方代码'
                },
                {
                    field: '门店名称',
                    title: '门店名称'
                },
                {
                    field: 'SAP订单号',
                    title: 'SAP订单号'
                },
                {
                    field: '过账数量',
                    title: '过账数量'
                },
                {
                    field: '单位名称',
                    title: '单位名称'
                },
                {
                    field: '单位代码',
                    title: '单位代码'
                },
                {
                    field: '规格',
                    title: '规格'
                },
                {
                    field: '销售组织',
                    title: '销售组织'
                },
                {
                    field: '仓库ID',
                    title: '仓库ID'
                },
                {
                    field: '区域',
                    title: '区域'
                },
                {
                    field: '货主代码',
                    title: '货主代码'
                },
                {
                    field: '货位',
                    title: '货位'
                },
                {
                    field: '托盘号',
                    title: '托盘号'
                },
                {
                    field: '无货主商品编码',
                    title: '无货主商品编码'
                },
                {
                    field: '商品编码',
                    title: '商品编码'
                },
                {
                    field: '描述',
                    title: '描述'
                },
                {
                    field: '批号',
                    title: '批号'
                },
                {
                    field: '货位状态',
                    title: '货位状态'
                },
                {
                    field: '总库存',
                    title: '总库存'
                },
                {
                    field: '可用库存',
                    title: '可用库存'
                },
                {
                    field: '已预约库存',
                    title: '已预约库存'
                },
                {
                    field: '可用库存1',
                    title: '可用库存(ship)'
                },
                {
                    field: '未上架库存',
                    title: '未上架库存'
                },
                {
                    field: '出库中',
                    title: '出库中'
                },
                {
                    field: '冻结库存',
                    title: '冻结库存'
                },
                {
                    field: '最小单位',
                    title: '最小单位'
                },
                {
                    field: '发运单位',
                    title: '发运单位'
                },
                {
                    field: '总库存1',
                    title: '总库存(ship)'
                },
                {
                    field: '已预约库存1',
                    title: '已预约库存(ship)'
                },
                {
                    field: '未上架库存1',
                    title: '未上架库存(ship)'
                },
                {
                    field: '出库中库存1',
                    title: '出库中库存(ship)'
                },
                {
                    field: '冻结库存1',
                    title: '冻结库存(ship)'
                },
                {
                    field: '基本单位',
                    title: '基本单位'
                },
                {
                    field: 'SAP',
                    title: 'SAP基本单位'
                },
                {
                    field: 'SAP描述',
                    title: 'SAP基本单位描述'
                },
                {
                    field: 'SAP转换系数',
                    title: 'SAP基本单位转换系数'
                },
                {
                    field: 'SAP数量',
                    title: 'SAP基本单位数量'
                },
                {
                    field: '商品状态',
                    title: '商品状态'
                },
                {
                    field: '分配',
                    title: '分配'
                }],

        };
        $.table.init(options1);
        var options2 =   {
            id:"bootstrap-table1",
            data:[
                {"所属地区":"北京","售达方代码":1098,"送达方代码":64,"门店代码":264,"交货日期":20190409,"下单时间":20190411,"订单号":312022648,"单位代码":19342312,"工厂代码":1811816989,"货主编码":"BJGY","货品代码":4704419,"货品名称":"脉动（达能，青柠味，600ML*15瓶/件）","条码":"6.90254E+12","批次规则":"生产日期规则","保质期限":300,"近效期":100,"停售天数":30,"基本单位精度":2,"货品ABC分类":"D","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":2,"码托底":1,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":257},
                {"所属地区":"北京","售达方代码":1467,"送达方代码":23,"门店代码":365,"交货日期":20190412,"下单时间":20190413,"订单号":338312447,"单位代码":19794494,"工厂代码":1816114479,"货主编码":"BJGY","货品代码":4001543,"货品名称":"雪花勇闯天涯（500ML*12瓶/件）","条码":"","批次规则":"生产日期规则","保质期限":180,"近效期":60,"停售天数":18,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"啤酒","温区":"常温库","码托高":4,"码托底":17,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":288},
                {"所属地区":"北京","售达方代码":1200,"送达方代码":34,"门店代码":181,"交货日期":20190411,"下单时间":20190414,"订单号":416540669,"单位代码":10785398,"工厂代码":2802138085,"货主编码":"BJGY","货品代码":4000710,"货品名称":"雪碧（1.25L*12瓶/件）","条码":"6.95477E+12","批次规则":"生产日期规则","保质期限":330,"近效期":110,"停售天数":30,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":4,"码托底":10,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":263},
                {"所属地区":"上海","售达方代码":1936,"送达方代码":87,"门店代码":374,"交货日期":20190407,"下单时间":20190410,"订单号":306186993,"单位代码":16505359,"工厂代码":2087286626,"货主编码":"BJGY","货品代码":4005173,"货品名称":"美汁源果粒橙（450ML*12瓶/件）","条码":"6.95642E+12","批次规则":"生产日期规则","保质期限":270,"近效期":90,"停售天数":27,"基本单位精度":2,"货品ABC分类":"D","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":2,"码托底":1,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":227},
                {"所属地区":"上海","售达方代码":1557,"送达方代码":78,"门店代码":171,"交货日期":20190410,"下单时间":20190412,"订单号":469564851,"单位代码":19542760,"工厂代码":2802427718,"货主编码":"BJGY","货品代码":4000451,"货品名称":"牛栏山白酒42度（500ML*12瓶/件）","条码":"6.90615E+12","批次规则":"供应商规则","保质期限":"","近效期":"","停售天数":"","基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":2,"码托底":16,"是否越库":"是","是否质检":"否","提总称重":"否","过账数量":211},
                {"所属地区":"北京","售达方代码":1362,"送达方代码":56,"门店代码":346,"交货日期":20190409,"下单时间":20190411,"订单号":392504281,"单位代码":15580948,"工厂代码":2299211048,"货主编码":"BJGY","货品代码":4003064,"货品名称":"百岁山纯净水（570ML*24瓶/件）","条码":"","批次规则":"生产日期规则","保质期限":360,"近效期":120,"停售天数":30,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":3,"码托底":10,"是否越库":"是","是否质检":"否","提总称重":"否","过账数量":179},
                {"所属地区":"北京","售达方代码":1630,"送达方代码":31,"门店代码":192,"交货日期":20190414,"下单时间":20190415,"订单号":444676877,"单位代码":14746514,"工厂代码":1040656871,"货主编码":"BJGY","货品代码":4000966,"货品名称":"青岛纯生（500ML*12瓶/件）","条码":"6.95477E+12","批次规则":"生产日期规则","保质期限":180,"近效期":60,"停售天数":18,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":5,"码托底":15,"是否越库":"是","是否质检":"否","提总称重":"否","过账数量":127},
                {"所属地区":"北京","售达方代码":1937,"送达方代码":61,"门店代码":343,"交货日期":20190412,"下单时间":20190415,"订单号":418702791,"单位代码":17448366,"工厂代码":1853524569,"货主编码":"BJGY","货品代码":4001548,"货品名称":"燕京鲜啤（500ML*12瓶/件）","条码":"6.9031E+12","批次规则":"生产日期规则","保质期限":360,"近效期":120,"停售天数":30,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":5,"码托底":18,"是否越库":"是","是否质检":"否","提总称重":"否","过账数量":35},
                {"所属地区":"北京","售达方代码":1677,"送达方代码":58,"门店代码":350,"交货日期":20190411,"下单时间":20190414,"订单号":474005973,"单位代码":19412852,"工厂代码":1287842747,"货主编码":"BJGY","货品代码":4001842,"货品名称":"奥古特（500ML*12瓶/件）","条码":"6.90104E+12","批次规则":"生产日期规则","保质期限":360,"近效期":120,"停售天数":30,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":5,"码托底":18,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":299},
                {"所属地区":"北京","售达方代码":1772,"送达方代码":16,"门店代码":244,"交货日期":20190410,"下单时间":20190412,"订单号":384075922,"单位代码":17873344,"工厂代码":1200577969,"货主编码":"BJGY","货品代码":4003288,"货品名称":"桂花酸梅汤（信远斋，300ML*12瓶/件）","条码":"6.90507E+12","批次规则":"生产日期规则","保质期限":360,"近效期":120,"停售天数":30,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"饮料","温区":"常温库","码托高":6,"码托底":12,"是否越库":"是","是否质检":"","提总称重":"否","过账数量":202},
                {"所属地区":"北京","售达方代码":1508,"送达方代码":69,"门店代码":396,"交货日期":20190406,"下单时间":20190408,"订单号":320336272,"单位代码":15314956,"工厂代码":1716893844,"货主编码":"BJGY","货品代码":4701436,"货品名称":"燕京纯生啤酒10度（500ML*12瓶/件）","条码":"6.9031E+12","批次规则":"生产日期规则","保质期限":360,"近效期":120,"停售天数":30,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"啤酒","温区":"常温库","码托高":6,"码托底":12,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":209},
                {"所属地区":"北京","售达方代码":1040,"送达方代码":34,"门店代码":144,"交货日期":20190410,"下单时间":20190411,"订单号":455060353,"单位代码":10067790,"工厂代码":1316322587,"货主编码":"BJGY","货品代码":4001019,"货品名称":"雪花纯生（500ML*12瓶/件）","条码":"6.94935E+12","批次规则":"生产日期规则","保质期限":180,"近效期":60,"停售天数":18,"基本单位精度":2,"货品ABC分类":"BC","货品大类":"食品","货品中类":"酒水类","货品小类":"啤酒","温区":"常温库","码托高":5,"码托底":15,"是否越库":"是","是否质检":"是","提总称重":"否","过账数量":104},
            ],
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],  sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: false,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {
                    field: '所属地区',
                    title: '所属地区'
                },
                {
                    field: '售达方代码',
                    title: '售达方代码'
                },
                {
                    field: '送达方代码',
                    title: '送达方代码'
                },
                {
                    field: '门店代码',
                    title: '门店代码'
                },
                {
                    field: '交货日期',
                    title: '交货日期'
                },
                {
                    field: '下单时间',
                    title: '下单时间'
                },
                {
                    field: '订单号',
                    title: '订单号'
                },
                {
                    field: '单位代码',
                    title: '单位代码'
                },
                {
                    field: '工厂代码',
                    title: '工厂代码'
                },
                {
                    field: '货主编码',
                    title: '货主编码'
                },
                {
                    field: '货品代码',
                    title: '货品代码'
                },
                {
                    field: '货品名称',
                    title: '货品名称'
                },
                {
                    field: '条码',
                    title: '条码'
                },
                {
                    field: '批次规则',
                    title: '批次规则'
                },
                {
                    field: '保质期限',
                    title: '保质期限'
                },
                {
                    field: '近效期',
                    title: '近效期'
                },
                {
                    field: '停售天数',
                    title: '停售天数'
                },
                {
                    field: '基本单位精度',
                    title: '基本单位精度'
                },
                {
                    field: '货品ABC分类',
                    title: '货品ABC分类'
                },
                {
                    field: '货品大类',
                    title: '货品大类'
                },
                {
                    field: '货品中类',
                    title: '货品中类'
                },
                {
                    field: '货品小类',
                    title: '货品小类'
                },
                {
                    field: '温区',
                    title: '温区'
                },
                {
                    field: '码托高',
                    title: '码托高'
                },
                {
                    field: '码托底',
                    title: '码托底'
                },
                {
                    field: '是否越库',
                    title: '是否越库'
                },
                {
                    field: '是否质检',
                    title: '是否质检'
                },
                {
                    field: '提总称重',
                    title: '提总称重'
                },
                {
                    field: '过账数量',
                    title: '过账数量'
                }]
        }
        $.table.init(options2);
        var options3 = {
            id:"bootstrap-table2",
            data:[
                {"订单编号":12137727,"订单明细状态":"已发货","商品编码":"BJCY-4715349","商品描述":"速冻牛肝菌（36KG/件）-BJCY","批次":20180418100597 ,"已拣货":11,"订单单位":"Z18-件","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":102530,"业务类型":"市内门店","用车人":"魏老香","门店名称":"魏老香辣小豌亦庄店","配送城市":"北京","配送区域":"GYL南五环-南六环","线路号":"外销1","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK5","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"魏老香"},
                {"订单编号":12147358,"订单明细状态":"已发货","商品编码":"BJGY-4713955","商品描述":"鸡排腿（星河，5.1KG/件）","批次":20180418103940 ,"已拣货":3,"订单单位":"Z18-件","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":101460,"业务类型":"市内门店","用车人":"魏老香","门店名称":"魏老香马驹桥店","配送城市":"北京","配送区域":"GYL南五环-南六环","线路号":"外销1","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK6","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"魏老香"},
                {"订单编号":12148494,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418104021 ,"已拣货":11,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":108161,"业务类型":"市内门店","用车人":"仔皇煲","门店名称":"仔皇煲豪润广场店","配送城市":"北京","配送区域":"GYL南五环-南六环","线路号":"外销1","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK7","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"仔皇煲"},
                {"订单编号":12148867,"订单明细状态":"已发货","商品编码":"BJGY-4733689","商品描述":"香菇油菜包（三益真，2.5KG*5包/件）","批次":20180418103328 ,"已拣货":0,"订单单位":"Z46-2.5公斤/包","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":101547,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅南菜园店","配送城市":"北京","配送区域":"GYL三环内","线路号":"外销2","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK8","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12148868,"订单明细状态":"已发货","商品编码":"BJMD-4735279","商品描述":"外卖面碗（50个*12条/件）-BJMD","批次":20180418103818 ,"已拣货":0,"订单单位":"Z18-件","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":101546,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅六里桥店","配送城市":"北京","配送区域":"GYL三环内","线路号":"外销2","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK9","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149281,"订单明细状态":"已发货","商品编码":"BJGY-4730873","商品描述":"澳洲牛仔骨（三煲，1KG*10包/件）","批次":20180418104516 ,"已拣货":2,"订单单位":"Z07-包","区域":"CWN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":110799,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅公主坟城乡店","配送城市":"北京","配送区域":"GYL北三环-北四环","线路号":"外销2","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK10","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149420,"订单明细状态":"已发货","商品编码":"BJGY-4733946","商品描述":"米粉（东颐，2.5KG/包）","批次":20180418103884 ,"已拣货":4,"订单单位":"Z46-2.5公斤/包","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":105768,"业务类型":"市内门店","用车人":"杨记兴","门店名称":"杨记兴大悦城店","配送城市":"北京","配送区域":"GYL北四环-北五环","线路号":"外销3","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK11","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"杨记兴"},
                {"订单编号":12149534,"订单明细状态":"已发货","商品编码":"BJGY-4733946","商品描述":"米粉（东颐，2.5KG/包）","批次":20180418103092 ,"已拣货":3,"订单单位":"Z46-2.5公斤/包","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":101557,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅青年路店","配送城市":"北京","配送区域":"GYL北四环-北五环","线路号":"外销3","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK12","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149573,"订单明细状态":"已发货","商品编码":"BJGY-1000168","商品描述":"八角","批次":20180418101746 ,"已拣货":0,"订单单位":"Z44-1公斤/包","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":101553,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅爱琴海店","配送城市":"北京","配送区域":"GYL北三环-北四环","线路号":"外销4","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK13","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149577,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418105053 ,"已拣货":10,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":107657,"业务类型":"市内门店","用车人":"潮堂","门店名称":"潮堂凤凰汇店","配送城市":"北京","配送区域":"GYL北三环-北四环","线路号":"外销4","承运商":"HSL","结算人":"张某","司机姓名":"周某","车牌号":"京Q08CK14","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"潮堂"},
                {"订单编号":12149673,"订单明细状态":"已发货","商品编码":"BJGY-4730873","商品描述":"澳洲牛仔骨（三煲，1KG*10包/件）","批次":20180418104516 ,"已拣货":1,"订单单位":"Z07-包","区域":"LCN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":105495,"业务类型":"市内门店","用车人":"布鲁诺","门店名称":"布鲁诺启皓店","配送城市":"北京","配送区域":"GYL三环内","线路号":"外销4","承运商":"HSL","结算人":"李某","司机姓名":"周某","车牌号":"京Q08CK15","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"布鲁诺"},
                {"订单编号":12149674,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418104608 ,"已拣货":8,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":101565,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅龙德店","配送城市":"北京","配送区域":"GYL北五环-北六环","线路号":"外销5","承运商":"HSL","结算人":"李某","司机姓名":"周某","车牌号":"京Q08CK16","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149705,"订单明细状态":"已发货","商品编码":"BJJG-4735872","商品描述":"冰栗（ZT，10KG/件）-BJJG","批次":20180418105518 ,"已拣货":0,"订单单位":"Z18-件","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":101560,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅银泰店","配送城市":"北京","配送区域":"GYL南三环-南四环","线路号":"外销6","承运商":"HSL","结算人":"李某","司机姓名":"周某","车牌号":"京Q08CK5","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149792,"订单明细状态":"已发货","商品编码":"BJGY-4730873","商品描述":"澳洲牛仔骨（三煲，1KG*10包/件）","批次":20180418104516 ,"已拣货":3,"订单单位":"Z07-包","区域":"","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":109276,"业务类型":"市内门店","用车人":"壹麦稻","门店名称":"壹麦稻万源店","配送城市":"北京","配送区域":"GYL南四环-南五环","线路号":"外销6","承运商":"HSL","结算人":"李某","司机姓名":"周某","车牌号":"京Q08CK6","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"壹麦稻"},
                {"订单编号":12149794,"订单明细状态":"已发货","商品编码":"BJYJ-4730164","商品描述":"徽州贡圆（包）-BJYJ","批次":20180418104714 ,"已拣货":0,"订单单位":"Z07-包","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":109275,"业务类型":"市内门店","用车人":"壹麦稻","门店名称":"壹麦稻梅源店","配送城市":"北京","配送区域":"GYL南四环-南五环","线路号":"外销6","承运商":"HSL","结算人":"李某","司机姓名":"周某","车牌号":"京Q08CK7","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"壹麦稻"},
                {"订单编号":12149794,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418101017 ,"已拣货":10,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":101559,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅东铁营店","配送城市":"北京","配送区域":"GYL南三环-南四环","线路号":"外销7","承运商":"HSL","结算人":"李某","司机姓名":"周某","车牌号":"京Q08CK8","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149839,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418103511 ,"已拣货":18,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":104254,"业务类型":"市内门店","用车人":"杨记兴","门店名称":"杨记兴方庄店","配送城市":"北京","配送区域":"GYL三环内","线路号":"外销7","承运商":"HSL","结算人":"李某","司机姓名":"赵某","车牌号":"京Q08CK12","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"杨记兴"},
                {"订单编号":12149886,"订单明细状态":"已发货","商品编码":"BJWL-4731450","商品描述":"老潼关千层饼（120个/件）-BJWL","批次":20180418101659 ,"已拣货":1,"订单单位":"Z18-件","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":109628,"业务类型":"市内门店","用车人":"肉串汪","门店名称":"肉串汪十里河店","配送城市":"北京","配送区域":"GYL南三环-南四环","线路号":"外销7","承运商":"HSL","结算人":"李某","司机姓名":"赵某","车牌号":"京Q08CK13","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"肉串汪"},
                {"订单编号":12149986,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418104679 ,"已拣货":12,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":101552,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅万年花城店","配送城市":"北京","配送区域":"GYL南三环-南四环","线路号":"外销8","承运商":"SHY","结算人":"李某","司机姓名":"赵某","车牌号":"京Q08CK14","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149990,"订单明细状态":"已发货","商品编码":"BJGY-4730873","商品描述":"澳洲牛仔骨（三煲，1KG*10包/件）","批次":20180418104516 ,"已拣货":3,"订单单位":"Z07-包","区域":"LCN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":104850,"业务类型":"市内门店","用车人":"杨记兴","门店名称":"杨记兴丰科万达店","配送城市":"北京","配送区域":"GYL南四环-南五环","线路号":"外销8","承运商":"SHY","结算人":"李某","司机姓名":"赵某","车牌号":"京Q08CK15","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"杨记兴"},
                {"订单编号":12149999,"订单明细状态":"已发货","商品编码":"BJMD-4732193","商品描述":"大米（长香王，2KG*10包/件）-BJMD","批次":20180418100982 ,"已拣货":0,"订单单位":"Z07-包","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":110499,"业务类型":"市内门店","用车人":"海盗虾","门店名称":"海盗虾饭丰台科技园店","配送城市":"北京","配送区域":"GYL南四环-南五环","线路号":"外销8","承运商":"SHY","结算人":"李某","司机姓名":"赵某","车牌号":"京Q08CK16","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"海盗虾"},
                {"订单编号":12149999,"订单明细状态":"已发货","商品编码":"BJMD-4735279","商品描述":"外卖面碗（50个*12条/件）-BJMD","批次":20180418102820 ,"已拣货":1,"订单单位":"Z18-件","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":101550,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅方家村店","配送城市":"北京","配送区域":"GYL南四环-南五环","线路号":"外销9","承运商":"HSL","结算人":"王某","司机姓名":"赵某","车牌号":"京Q08CK14","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12149999,"订单明细状态":"已发货","商品编码":"BJMD-4732244","商品描述":"外卖面碗盖（50个*20条/件）-BJMD","批次":20180418103200 ,"已拣货":8,"订单单位":"Z19-条","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":101556,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅物资学院店","配送城市":"北京","配送区域":"GYL北五环-北六环","线路号":"外销9","承运商":"HSL","结算人":"王某","司机姓名":"赵某","车牌号":"京Q08CK15","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12150165,"订单明细状态":"已发货","商品编码":"BJGY-4730873","商品描述":"澳洲牛仔骨（三煲，1KG*10包/件）","批次":20180418104516 ,"已拣货":1,"订单单位":"Z07-包","区域":"CWN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":101554,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅星城店","配送城市":"北京","配送区域":"GYL南六环外","线路号":"外销10","承运商":"HSL","结算人":"王某","司机姓名":"赵某","车牌号":"京Q08CK16","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12150169,"订单明细状态":"已发货","商品编码":"BJYJ-4734782","商品描述":"毛豆腐（24块/盒）-BJYJ","批次":20180418100339 ,"已拣货":8,"订单单位":"Z06-盒","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":101461,"业务类型":"市内门店","用车人":"魏老香","门店名称":"魏老香房山店","配送城市":"北京","配送区域":"GYL南六环外","线路号":"外销10","承运商":"HSL","结算人":"王某","司机姓名":"赵某","车牌号":"京Q08CK5","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"魏老香"},
                {"订单编号":12150995,"订单明细状态":"已发货","商品编码":"BJYJ-4730164","商品描述":"徽州贡圆（包）-BJYJ","批次":20180418100245 ,"已拣货":0,"订单单位":"Z07-包","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"早","送达方代码":101562,"业务类型":"市内门店","用车人":"青年餐厅","门店名称":"青年餐厅大兴店","配送城市":"北京","配送区域":"GYL南五环-南六环","线路号":"外销11","承运商":"HSL","结算人":"王某","司机姓名":"赵某","车牌号":"京Q08CK6","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12150995,"订单明细状态":"已发货","商品编码":"BJYJ-4730165","商品描述":"鸭脚包（包）-BJYJ","批次":20180418100158 ,"已拣货":0,"订单单位":"Z07-包","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"晚","送达方代码":101567,"业务类型":"外阜","用车人":"青年餐厅","门店名称":"青年餐厅天津银河店","配送城市":"天津","配送区域":"GYL天津市区","线路号":"外销12","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK7","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12150999,"订单明细状态":"已发货","商品编码":"BJGY-4730873","商品描述":"澳洲牛仔骨（三煲，1KG*10包/件）","批次":20180418104516 ,"已拣货":15,"订单单位":"Z07-包","区域":"LCN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"晚","送达方代码":101568,"业务类型":"外阜","用车人":"青年餐厅","门店名称":"青年餐厅天津万达店","配送城市":"天津","配送区域":"GYL天津市区","线路号":"外销12","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK8","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"青年餐厅"},
                {"订单编号":12151028,"订单明细状态":"已发货","商品编码":"BJGY-4723034","商品描述":"西红柿（1KG/包）","批次":20180418104516 ,"已拣货":1,"订单单位":"Z44-1公斤/包","区域":"LCN","拣选货位":"LC05","配送日期":"2018/5/1","班次":"早","送达方代码":108333,"业务类型":"市内门店","用车人":"水木锦堂","门店名称":"水木锦堂亦庄库房","配送城市":"北京","配送区域":"GYL南五环-南六环","线路号":"外销13","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK12","车型":4.2,"常温冷藏":"冷藏","费用类型":"客户承担","承担部门":"水木锦堂"},
                {"订单编号":12151104,"订单明细状态":"已发货","商品编码":"BJGY-4723022","商品描述":"凉面标签（6.3*6.3CM，24个/张）","批次":20180418104516 ,"已拣货":0,"订单单位":"Z03-张","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":102190,"业务类型":"市内门店","用车人":"水木锦堂","门店名称":"水木锦堂龙湖店","配送城市":"北京","配送区域":"GYL北五环-北六环","线路号":"外销13","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK13","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"水木锦堂"},
                {"订单编号":12151104,"订单明细状态":"已发货","商品编码":"BJGY-4727842","商品描述":"标签（桃胶雪耳羹，带海盗虾饭LOGO，4*4CM，15个/张 ）","批次":20180418104516 ,"已拣货":0,"订单单位":"Z03-张","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":102188,"业务类型":"市内门店","用车人":"水木锦堂","门店名称":"水木锦堂朝外店","配送城市":"北京","配送区域":"GYL三环内","线路号":"外销13","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK10","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"水木锦堂"},
                {"订单编号":12151104,"订单明细状态":"已发货","商品编码":"BJGY-4728958","商品描述":"标签（狮子头拼麻辣龙虾，带海盗虾饭LOGO，5*5CM，12个/张）","批次":20180418104516 ,"已拣货":0,"订单单位":"E91-12个/张","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"早","送达方代码":102189,"业务类型":"市内门店","用车人":"水木锦堂","门店名称":"水木锦堂望京店","配送城市":"北京","配送区域":"GYL北四环-北五环","线路号":"外销13","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK11","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"水木锦堂"},
                {"订单编号":12151173,"订单明细状态":"已发货","商品编码":"BJGY-4702907","商品描述":"沙拉酱（丘比，1KG*10包/件）","批次":20180418104516 ,"已拣货":2,"订单单位":"Z44-1公斤/包","区域":"CWN","拣选货位":"CW05","配送日期":"2018/5/1","班次":"午","送达方代码":0,"业务类型":"市内门店","用车人":"水木锦堂","门店名称":"水木锦堂亦庄库房1","配送城市":"北京","配送区域":"GYL南五环-南六环","线路号":"外销14","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK12","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"水木锦堂"},
                {"订单编号":12151218,"订单明细状态":"已发货","商品编码":"BJJG-4735872","商品描述":"冰栗（ZT，10KG/件）-BJJG","批次":20180418104516 ,"已拣货":0,"订单单位":"Z18-件","区域":"LDN","拣选货位":"LD05","配送日期":"2018/5/1","班次":"午","送达方代码":102204,"业务类型":"市内门店","用车人":"水木锦堂","门店名称":"水木锦堂五道口店","配送城市":"北京","配送区域":"GYL北四环-北五环","线路号":"外销14","承运商":"HSL","结算人":"王某","司机姓名":"许某","车牌号":"京Q08CK13","车型":4.2,"常温冷藏":"冷藏","费用类型":"物流承担","承担部门":"水木锦堂"},

            ],
            method: 'get',
            cache: false,
            striped: true,
            pagination: true,
            pageSize: 10,
            pageNumber:1,
            pageList: [10, 20, 50, 100, 200, 500],  sidePagination:'client',
            search: true,
            showColumns: true,
            showRefresh: false,
            showExport: false,
            exportTypes: ['excel','txt','xml'],
            columns: [
                {
                    field: '订单编号',
                    title: '订单编号'
                },
                {
                    field: '订单明细状态',
                    title: '订单明细状态'
                },
                {
                    field: '商品编码',
                    title: '商品编码'
                },
                {
                    field: '商品描述',
                    title: '商品描述'
                },
                {
                    field: '批次',
                    title: '批次'
                },
                {
                    field: '已拣货',
                    title: '已拣货'
                },
                {
                    field: '订单单位',
                    title: '订单单位'
                },
                {
                    field: '区域',
                    title: '区域'
                },
                {
                    field: '拣选货位',
                    title: '拣选货位'
                },
                {
                    field: '配送日期',
                    title: '配送日期'
                },
                {
                    field: '班次',
                    title: '班次'
                },
                {
                    field: '送达方代码',
                    title: '送达方代码'
                },
                {
                    field: '业务类型',
                    title: '业务类型'
                },
                {
                    field: '用车人',
                    title: '用车人'
                },
                {
                    field: '门店名称',
                    title: '门店名称'
                },
                {
                    field: '配送城市',
                    title: '配送城市'
                },
                {
                    field: '配送区域',
                    title: '配送区域'
                },
                {
                    field: '线路号',
                    title: '线路号'
                },
                {
                    field: '承运商',
                    title: '承运商'
                },
                {
                    field: '结算人',
                    title: '结算人'
                },
                {
                    field: '司机姓名',
                    title: '司机姓名'
                },
                {
                    field: '车牌号',
                    title: '车牌号'
                },
                {
                    field: '车型',
                    title: '车型'
                },
                {
                    field: '常温冷藏',
                    title: '常温/冷藏'
                },
                {
                    field: '费用类型',
                    title: '费用类型'
                },
                {
                    field: '承担部门',
                    title: '承担部门'
                }]
        }
        $.table.init(options3);
    });
    function next(){
        window.location.href=ctx+"system/project1/ass2/index1?trainingId="+$('#trainingId').text()+"&token="+$('#token').text();
    }
</script>
</body>
</html>